<div block="schedule" mods="afisha">
	<div elem="item">
		<div elem="item-day">чт</div>
		<div elem="item-desc">Звезды российского джаза. Карина Кожевникова</div>
		<div elem="item-date">24 Янв, 17:35</div>
		<div elem="item-counter">
			<div elem="item-views"><img src="img/views.png" alt="">275</div>
			<div elem="item-square"><img src="img/square.png" alt="">12</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-day">чт</div>
		<div elem="item-desc">Звезды российского джаза. Карина Кожевникова</div>
		<div elem="item-date">24 Янв, 17:35</div>
		<div elem="item-counter">
			<div elem="item-views"><img src="img/views.png" alt="">275</div>
			<div elem="item-square"><img src="img/square.png" alt="">12</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-day">чт</div>
		<div elem="item-desc">Звезды российского джаза. Карина Кожевникова</div>
		<div elem="item-date">24 Янв, 17:35</div>
		<div elem="item-counter">
			<div elem="item-views"><img src="img/views.png" alt="">275</div>
			<div elem="item-square"><img src="img/square.png" alt="">12</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-day">чт</div>
		<div elem="item-desc">Звезды российского джаза. Карина Кожевникова</div>
		<div elem="item-date">24 Янв, 17:35</div>
		<div elem="item-counter">
			<div elem="item-views"><img src="img/views.png" alt="">275</div>
			<div elem="item-square"><img src="img/square.png" alt="">12</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-day">чт</div>
		<div elem="item-desc">Звезды российского джаза. Карина Кожевникова</div>
		<div elem="item-date">24 Янв, 17:35</div>
		<div elem="item-counter">
			<div elem="item-views"><img src="img/views.png" alt="">275</div>
			<div elem="item-square"><img src="img/square.png" alt="">12</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-day">чт</div>
		<div elem="item-desc">Звезды российского джаза. Карина Кожевникова</div>
		<div elem="item-date">24 Янв, 17:35</div>
		<div elem="item-counter">
			<div elem="item-views"><img src="img/views.png" alt="">275</div>
			<div elem="item-square"><img src="img/square.png" alt="">12</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-day">чт</div>
		<div elem="item-desc">Звезды российского джаза. Карина Кожевникова</div>
		<div elem="item-date">24 Янв, 17:35</div>
		<div elem="item-counter">
			<div elem="item-views"><img src="img/views.png" alt="">275</div>
			<div elem="item-square"><img src="img/square.png" alt="">12</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-day">чт</div>
		<div elem="item-desc">Звезды российского джаза. Карина Кожевникова</div>
		<div elem="item-date">24 Янв, 17:35</div>
		<div elem="item-counter">
			<div elem="item-views"><img src="img/views.png" alt="">275</div>
			<div elem="item-square"><img src="img/square.png" alt="">12</div>
		</div>
	</div>

</div>