.schedule
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
	border-radius 6px
	background-color #fff
	margin-bottom 30px
	display none
	&__item
		padding 20px 13px 12px
		width 50%
		border-right 1px solid #f7f7f7
		&:nth-child(2n)
			border-right 0
			border-left 1px solid #f7f7f7
		&:nth-child(1n + 2)
			border-top 2px solid #f7f7f7
		
	&__item-day
		color #b3b3b3
		font-size 40px
		font-weight 300
		margin-bottom 10px
		line-height 1
		
	&__item-desc
		line-height 30px
		color #666
		font-size 16px
		font-weight 500
		margin-bottom 8px
		
	&__item-date
		font-size 12px
		color #b3b3b3
		font-weight 500
		margin-bottom 15px
		
	&__item-counter
		display flex
		align-items center
		font-weight 400
		font-size 11px
		color #b3b3b3
	&__item-views
		margin-right 17px 
		img
			margin-right 12px
			margin-bottom 3px
	&__item-square
		img
			margin-right 16px
			margin-bottom 2px
	
	@media (max-width 430px)
		&--afisha
			display flex
			flex-wrap wrap
	