<form action="#" block="filter" class="_js-filter">
    <div elem="inner">
        <div elem="items">
            <div elem="item">
                <div elem="item-title" class="_js-select-trigger-click">Выберите категорию</div><!-- e:item-title -->
                <select elem="select" multiple>
                    <option>Семейные события</option>
                    <option>Слушай только живое</option>
                    <option>Концерты на обед</option>
                    <option>На гастролях</option>
                </select>
            </div><!-- e:item -->
            <div elem="item">
                <div elem="item-title" class="_js-select-trigger-click">Выберите жанр</div><!-- e:item-title -->
                <select elem="select" multiple>
                    <option>Семейные события</option>
                    <option>Слушай только живое</option>
                    <option>Концерты на обед</option>
                    <option>На гастролях</option>
                </select>
            </div><!-- e:item -->
            <div elem="item">
                <div elem="item-title" class="_js-select-trigger-click">Выберите коллектив</div><!-- e:item-title -->
                <select elem="select" multiple>
                    <option>Семейные события</option>
                    <option>Слушай только живое</option>
                    <option>Концерты на обед</option>
                    <option>На гастролях</option>
                </select>
            </div><!-- e:item -->
        </div><!-- e:items -->

        <div elem="submit">
            <button type="submit" class="btn">Найти</button>
        </div><!-- e:submit -->
    </div><!-- e:inner -->
</form><!-- b:filter -->