.filter 
    opacity 0
    height 0px
    overflow hidden
    margin-top -30px
    transition opacity .3s, height .3s, margin .3s

    &__inner 
        display flex
        padding 11px 30px 11px 30px
        background-color #fff
        
        @media only screen and (max-width: 840px)
            flex-direction column
            padding-left 10px
            padding-right 10px
        
    &__items
        display flex
        margin-left -40px
        
        @media only screen and (max-width: 840px)
            margin-left 0
            flex-direction column

    &__item
        margin-left 40px
        flex 0 0 160px
        max-width 160px
        width 160px
        position relative
        
        @media only screen and (max-width: 840px)
            margin-left 0
            margin-bottom 10px
            flex 0 0 100%
            max-width 100%
            width 100%
            

        .select2-container
            width 100% !important
            max-width 100%
            .select2-search--inline
                .select2-search__field
                    color #808080
                    font-size 10px
                    text-transform none
                    font-weight 700
                    margin 0
                    height 38px
                    line-height 38px
                    box-sizing border-box
                    
            .select2-selection--multiple
                border: 2px solid #f5f5f5;
                position relative
                
                &:before 
                    content '' 
                    position absolute
                    right 15px
                    top 50%
                    height 5px
                    width 8px
                    transform translateY(-50%)
                    background #fff url(../img/select_arrow.svg) right center no-repeat
                
        .select2-container--default.select2-container--focus .select2-selection--multiple
            border-color #f5f5f5
            
        .select2-container--default .select2-selection--multiple .select2-selection__rendered
            white-space nowrap
            display flex
            align-items center
            
        .select2-container--default .select2-selection--multiple .select2-selection__rendered li
            flex-shrink 0
            position relative
            
        
            
    &__item-title
        position absolute
        left 1px
        right 1px
        bottom 1px
        top 1px
        // pointer-events none
        z-index 10
        background-color #fff
        color #808080
        font-size 10px
        font-weight 700
        margin 0
        padding 0 0 0 15px
        height 38px
        line-height 38px
        
        &:before 
            content '' 
            position absolute
            right 15px
            top 50%
            height 5px
            width 8px
            transform translateY(-50%)
            background #fff url(../img/select_arrow.svg) right center no-repeat

    &__submit
        margin-left auto
        align-self center
        
        @media only screen and (max-width: 840px)
            margin 0
            width 100%
        
        .btn 
            width 115px
            padding 11px 20px 11px
            
            @media only screen and (max-width: 840px)
                width 100%

            
    &.is-active
        opacity 1
        height 63px
        margin-top 0
        
        @media only screen and (max-width: 840px)
            height 213px

.select2-dropdown.filter-select-dropdown
    width auto !important
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
    border-radius 6px
    border 1px solid #f5f5f5
    background-color #ffffff
    
    .select2-results__option 
        padding 10px 20px
        white-space nowrap
        display flex
        align-items center
        color #666
        font-size 12px
        font-weight 500
        line-height 20px
        text-transform none
        background-color #fff !important
        
        &:before
            content ''
            display block
            width 20px
            height 20px
            position relative
            top -1px
            margin-right 20px
            border-radius 4px
            border 2px solid #e6e6e6
            
        &.select2-results__option--highlighted
            background-color #fff
            color #666
            
        &[aria-selected="true"]
            &:before 
                border-color $colorAccent
                background $colorAccent url(../img/done_icon.svg) center center no-repeat
            