<div block="list-blocks">
    <div elem="item">
        <div elem="item-image" data-section-bg="img/l-pic1.png">
            <img src="img/l-pic1.png" alt="">
            <div elem="item-icons" mods="stats">
                <div elem="views"><img src="img/views.png" alt="">275</div> 
                <div elem="counter"><img src="img/square.png" alt="">12</div>   
            </div>
        </div>
        <div elem="item-container">
            <div elem="item-labels-container">
                <a href="#" elem="item-label" mods="category">Концерт</a>        
                <a href="#" elem="item-label" mods="genre">Классическая музыка</a>       
                <a href="#" elem="item-label" mods="counter">0+</a>
            </div>
            <div elem="item-title">Концерт-открытие Международного конкурса "Дон Гран-при"</div>
            <div elem="item-description">С появлением Яна Сибелиуса музыка Финляндии обрела голос, слышный во всем мире.</div>
            <div elem="item-buttons-container">
                <a elem="item-button" mods="link" href="#">Подробнее</a>
                <a elem="item-button" mods="buy" href="#">Купить</a>
            </div>
            <div elem="item-bot">
                <div elem="bot-item" mods="date"><img src="img/calendar.png" alt="">18 Ноября 2017</div>
                <div elem="bot-item" mods="time"><img src="img/time.png" alt="">13:30, 15:00, 16:30, 18:00, 19:30</div>
            </div>
        </div>
    </div>
    <div elem="item">
        <div elem="item-image" data-section-bg="img/l-pic2.png">
            <img src="img/l-pic2.png" alt="">
            <div elem="item-icons" mods="stats">
                <div elem="views"><img src="img/views.png" alt="">275</div> 
                <div elem="counter"><img src="img/square.png" alt="">12</div>   
            </div>
        </div>
        <div elem="item-container">
            <div elem="item-labels-container">
                <a href="#" elem="item-label" mods="category">категория</a>      
                <a href="#" elem="item-label" mods="genre">Жанр</a>  
            </div>
            <div elem="item-title">Дирижеры. Высшая лига</div>
            <div elem="item-description">С появлением Яна Сибелиуса музыка Финляндии обрела голос, слышный во всем мире.</div>
            <div elem="item-buttons-container">
                <a elem="item-button" mods="link" href="#">Подробнее</a>
                <a elem="item-button" mods="buy" href="#">Купить</a>
            </div>
            <div elem="item-bot">
                <div elem="bot-item" mods="date"><img src="img/calendar.png" alt="">18 Ноября 2017</div>
                <div elem="bot-item" mods="time"><img src="img/time.png" alt="">18:00</div>
            </div>
        </div>
    </div>
    <div elem="item">
        <div elem="item-image" data-section-bg="img/l-pic3.png">
            <img src="img/l-pic3.png" alt="">
            <div elem="item-icons" mods="stats">
                <div elem="views"><img src="img/views.png" alt="">275</div> 
                <div elem="counter"><img src="img/square.png" alt="">12</div>   
            </div>
        </div>
        <div elem="item-container">
            <div elem="item-labels-container">
                <a href="#" elem="item-label" mods="category">категория</a>  
            </div>
            <div elem="item-title">Дирижеры. Высшая лига</div>
            <div elem="item-description">С появлением Яна Сибелиуса музыка Финляндии обрела голос, слышный во всем мире.</div>
            <div elem="item-buttons-container">
                <a elem="item-button" mods="link" href="#">Подробнее</a>
                <a elem="item-button" mods="buy" href="#">Купить</a>
            </div>
            <div elem="item-bot">
                <div elem="bot-item" mods="date"><img src="img/calendar.png" alt="">18 Ноября 2017</div>
                <div elem="bot-item" mods="time"><img src="img/time.png" alt="">18:00</div>
            </div>
        </div>
    </div>
    <div elem="item">
        <div elem="item-image" data-section-bg="img/l-pic4.png">
            <img src="img/l-pic4.png" alt="">
            <div elem="item-icons" mods="stats">
                <div elem="views"><img src="img/views.png" alt="">275</div> 
                <div elem="counter"><img src="img/square.png" alt="">12</div>   
            </div>
        </div>
        <div elem="item-container">
            <div elem="item-labels-container">
                <a href="#" elem="item-label" mods="category">категория</a>  
            </div>
            <div elem="item-title">Дирижеры. Высшая лига</div>
            <div elem="item-description">С появлением Яна Сибелиуса музыка Финляндии обрела голос, слышный во всем мире.</div>
            <div elem="item-buttons-container">
                <a elem="item-button" mods="link" href="#">Подробнее</a>
                <a elem="item-button" mods="buy" href="#">Купить</a>
            </div>
            <div elem="item-bot">
                <div elem="bot-item" mods="date"><img src="img/calendar.png" alt="">18 Ноября 2017</div>
                <div elem="bot-item" mods="time"><img src="img/time.png" alt="">18:00</div>
            </div>
        </div>
    </div>
    <div elem="item">
        <div elem="item-image" data-section-bg="img/l-pic5.png">
            <img src="img/l-pic5.png" alt="">
            <div elem="item-icons" mods="stats">
                <div elem="views"><img src="img/views.png" alt="">275</div> 
                <div elem="counter"><img src="img/square.png" alt="">12</div>   
            </div>
        </div>
        <div elem="item-container">
            <div elem="item-labels-container">
                <a href="#" elem="item-label" mods="category">категория</a>  
            </div>
            <div elem="item-title">Дирижеры. Высшая лига</div>
            <div elem="item-description">С появлением Яна Сибелиуса музыка Финляндии обрела голос, слышный во всем мире.</div>
            <div elem="item-buttons-container">
                <a elem="item-button" mods="link" href="#">Подробнее</a>
                <a elem="item-button" mods="buy" href="#">Купить</a>
            </div>
            <div elem="item-bot">
                <div elem="bot-item" mods="date"><img src="img/calendar.png" alt="">18 Ноября 2017</div>
                <div elem="bot-item" mods="time"><img src="img/time.png" alt="">18:00</div>
            </div>
        </div>
    </div>
    <div elem="item">
        <div elem="item-image" data-section-bg="img/l-pic6.png">
            <img src="img/l-pic6.png" alt="">
            <div elem="item-icons" mods="stats">
                <div elem="views"><img src="img/views.png" alt="">275</div> 
                <div elem="counter"><img src="img/square.png" alt="">12</div>   
            </div>
        </div>
        <div elem="item-container">
            <div elem="item-labels-container">
                <a href="#" elem="item-label" mods="category">категория</a>  
            </div>
            <div elem="item-title">Дирижеры. Высшая лига</div>
            <div elem="item-description">С появлением Яна Сибелиуса музыка Финляндии обрела голос, слышный во всем мире.</div>
            <div elem="item-buttons-container">
                <a elem="item-button" mods="link" href="#">Подробнее</a>
                <a elem="item-button" mods="buy" href="#">Купить</a>
            </div>
            <div elem="item-bot">
                <div elem="bot-item" mods="date"><img src="img/calendar.png" alt="">18 Ноября 2017</div>
                <div elem="bot-item" mods="time"><img src="img/time.png" alt="">18:00</div>
            </div>
        </div>
    </div>
    <div elem="item">
        <div elem="item-image" data-section-bg="img/l-pic7.png">
            <img src="img/l-pic7.png" alt="">
            <div elem="item-icons" mods="stats">
                <div elem="views"><img src="img/views.png" alt="">275</div> 
                <div elem="counter"><img src="img/square.png" alt="">12</div>   
            </div>
        </div>
        <div elem="item-container">
            <div elem="item-labels-container">
                <a href="#" elem="item-label" mods="category">категория</a>  
            </div>
            <div elem="item-title">Дирижеры. Высшая лига</div>
            <div elem="item-description">С появлением Яна Сибелиуса музыка Финляндии обрела голос, слышный во всем мире.</div>
            <div elem="item-buttons-container">
                <a elem="item-button" mods="link" href="#">Подробнее</a>
                <a elem="item-button" mods="buy" href="#">Купить</a>
            </div>
            <div elem="item-bot">
                <div elem="bot-item" mods="date"><img src="img/calendar.png" alt="">18 Ноября 2017</div>
                <div elem="bot-item" mods="time"><img src="img/time.png" alt="">18:00</div>
            </div>
        </div>
    </div>
</div>