.list-blocks
    margin-bottom 40px
    background #fff
    border-radius 6px
    margin-top 30px
    @media only screen and (max-width: 730px)
        margin-left -10px
        margin-right -10px
        
    &__date 
        display flex
        justify-content center
        align-items center
        color #fff
        font-size 14px
        height 36px
        font-weight 500
        flex 0 0 100%
        border-radius 6px 6px 0 0
        background-color #d8d8d8
        margin-bottom 37px
        
        @media only screen and (max-width: 730px)
            margin-bottom 15px
            margin-left -15px
            margin-right -15px
            flex none
            max-width none
        
    &__day
        margin 0 20px 0 12px
    
    &__item
        border-top 2px solid #f5f5f5
        padding 40px 25px 40px 40px
        display flex
        flex-wrap wrap
        justify-content space-between
        &:first-child
            border 0
            
        @media only screen and (max-width: 1150px)
            flex-direction column
            padding-left 40px
            padding-right 40px
            
        @media only screen and (max-width: 730px)
            border none
            padding-left 0
            padding-right 0
            padding-top 0

    &__item-image
        position relative
        max-width 475px
        img 
            max-width 100%
            height auto
            /*
            @media only screen and (max-width: 730px)
                display none*/
        @media only screen and (max-width: 1150px)
            margin 0 auto 30px
            width 100%
            max-width 100%
            
            
    &__item-icons
        position absolute
        right 20px
        bottom 17px
        display flex
        align-items center
        color #fff
        font-size 12px
        font-weight 700
        line-height 1
        @media only screen and (max-width: 730px)
            right auto
            left 50%
            transform translateX(-50%)
        img 
            margin-right 12px
            vertical-align middle
            margin-bottom 3px
            
        &--soc
            @media only screen and (max-width: 1024px)  
                display none
            a 
                width 50px
                height 50px
                background rgba(0,0,0,0.3)
                border-radius 100px
                margin-left 20px
                display flex
                align-items center
                justify-content center
                &:first-child
                    margin-left 0
                &:hover    
                    background rgba(0,0,0,0.5)
                                        
            img
                margin 0
                
        &--soc ~ &--stats 
            display none
            
            @media only screen and (max-width: 1024px)  
                display flex

    &__counter
        margin-left 36px
        
    &__item-container
        width 100%
        max-width 520px
        text-align center
        
        @media only screen and (max-width: 1150px)
            width 520px
            max-width 100%
            margin 0 auto            
        
    &__item-labels-container
        margin-bottom 18px
        display flex
        justify-content center
        
    &__item-label
        padding 5px 14px
        margin-left 7px
        margin-right 7px
        border-radius 5px
        color #fff
        text-align center   
        font-size 10px
        text-transform uppercase
        letter-spacing 1.25px
        font-weight 900
        background $colorPrimary
        text-decoration none
        
        
        @media only screen and (max-width: 730px)
            margin-left 5px
            margin-right 5px
            padding-left 10px
            padding-right 10px
            
        &:hover
            color #fff
            text-decoration none
            opacity .9

        &--genre
            background #5553ce
        &--counter
            background #b3b3b3
            
    &__item-title
        font-size 30px
        font-weight 400
        color #666
        line-height 35px
        margin-bottom 26px
        min-height 55px
        display flex
        align-items center
        justify-content center
        
        @media only screen and (max-width: 730px)
            font-size 18px
            line-height 21px
            font-weight 400
        
    &__item-description
        line-height 26px
        color #999
        font-size 13px
        font-weight 500
        margin-bottom 24px
        max-width 440px
        margin-left auto
        margin-right auto
        
    &__item-buttons-container
        margin-bottom 45px
        display flex
        justify-content center
        
    &__item-button
        border-radius 3px
        font-size 10px
        text-transform uppercase
        text-decoration none
        font-weight 900
        padding-top 15px
        padding-bottom 13px
        position relative
        margin-left 12px
        margin-right 12px
        &--link
            color #666
            padding-left 47px
            padding-right 23px
            border 2px solid #f5f5f5            
            padding-top 13px
            padding-bottom 11px
            &:after 
                content ""
                position absolute
                left 25px
                top 50%
                margin-top -6px
                width 9px
                height 12px
                background url(../img/play.png) 0 0 no-repeat
            &:hover
                color #666
                background-color rgba(#000, 0.02)
            &:active    
                box-shadow inset 0 1px 2px rgba(0,0,0,0.05)
        &--buy
            color #fff
            background $colorPrimary
            padding-left 50px
            padding-right 20px
            &:after 
                content ""
                position absolute
                left 25px
                top 50%
                width 15px
                height 13px
                background url(../img/buy-ico.png) 0 0 no-repeat
                margin-top -7px
            &:hover
                color #fff
                background lighten($colorPrimary, 9%)
            &:active
                background darken($colorPrimary, 9%)
                box-shadow inset 0 1px 2px rgba(0,0,0,0.30)
                
    &__item-bot
        display flex
        align-items center
        justify-content center
        color #808080
        font-weight 500
        
        @media only screen and (max-width: 730px)
            flex-direction column
        
    &__bot-item
        display flex
        align-items center
        img
            margin-right 12px 
        &--date
            margin-right 30px
            @media only screen and (max-width: 730px)
                margin 0 0 18px
            
            img 
                margin-bottom 2px

        &--time
            margin-right 18px
            @media only screen and (max-width: 730px)
                margin 0
            img
                margin-bottom 1px
            
        &--views,
        &--counter    
            color #d8d8d8
            @media only screen and (max-width: 1024px)
                display none
            
        &--views    
            margin-right 20px
            

    &--calendar
        
        @media only screen and (max-width: 730px)
            margin-left 0
            margin-right 0
        
        .list-blocks__item 
            padding 0 0 60px
            align-items flex-start
            justify-content flex-start
            
            @media only screen and (max-width: 1150px)
                flex-direction row
                
            @media only screen and (max-width: 1024px)
                padding-bottom 30px
                
            @media only screen and (max-width: 730px)
                display block
                padding-left 15px
                padding-right 15px
            
        .list-blocks__item-image 
            margin-left 30px
            margin-right 60px
            margin-bottom 0
            flex 0 0 330px
            max-width 330px
            width 330px
            height 236px
            
            @media only screen and (max-width: 1024px)
                margin-right 44px
                flex 0 0 224px
                max-width 224px
                width 224px
                height 160px
                
            @media only screen and (max-width: 730px)
                height 193px
                width 100%
                max-width 100%
                margin 0 0 30px
            
        .list-blocks__item-container
            text-align left
            flex 1
            max-width 100%
            padding-right 30px
            
            @media only screen and (max-width: 1150px)
                width auto
                flex 1
                max-width 100%
                
            @media only screen and (max-width: 730px)
                padding-right 0
            
        .list-blocks__item-title 
            font-size 20px
            line-height 24px
            min-height 0
            margin-bottom 10px
            display block
            
        .list-blocks__item-description 
            max-width 100%
            margin-bottom 30px
            
        .list-blocks__item-top 
            display flex
            margin-bottom 35px
            
            @media only screen and (max-width: 1150px)
                flex-direction column
                
            @media only screen and (max-width: 730px) 
                margin-bottom 11px
            
        .list-blocks__bot-item
            font-weight 500
            color #808080
            
        .list-blocks__bot-item--time
            margin 0
            
            @media only screen and (max-width: 1150px)
                margin-bottom 20px
            
        .list-blocks__item-labels-container
            margin-bottom 0
            margin-left auto
            justify-content flex-start
            
            @media only screen and (max-width: 1150px)
                margin-left 0
                
            @media only screen and (max-width: 730px)
                flex-wrap wrap

        .list-blocks__item-label 
            background-color #d8d8d8 !important
            
            @media only screen and (max-width: 730px)
                margin 0 14px 10px 0
                
            &:first-child
                margin-left 0
                
            &:last-child
                margin-right 0
            
        .list-blocks__item-label--counter 
            padding-left 8px
            padding-right 8px
            
        .list-blocks__item-buttons-container
            justify-content flex-start
            margin-bottom 0

        .list-blocks__item-button 
            margin 0
            width 130px
            padding 0
            height 50px
            font-size 12px
            display flex
            justify-content center
            align-items center
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        
        .list-blocks__item-button--link    
            border 2px solid #d8d8d8
            border-right none
            border-radius 4px 0 0 4px
            color #333

        .list-blocks__item-button--link:after 
            display none
            
        .list-blocks__item-button--buy
            width 192px
            border-radius 0 4px 4px 0
            padding-left 8px
        
        .list-blocks__item-button--buy:after
            position relative
            left auto
            top 6px
            margin-left 10px
            height 26px
            width 25px
            background url(../img/buy-ico-cart.png) left top no-repeat
            
            @media only screen and (max-width: 730px)
                display none