.baner + .sorting
    margin-top 0

.sorting
    display flex
    background-color #fff
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
    border-radius 6px
    margin-top 60px
    margin-bottom 30px
    
    @media only screen and (max-width: 730px)
        margin-top 40px 
        margin-bottom 20px
    
    &__items
        flex 1
        display flex
        align-items center
        
        @media only screen and (max-width: 730px)
            display none
        
    &__item 
        color #b3b3b3
        font-size 13px
        font-weight 700
        height 60px
        display flex
        align-items center
        justify-content center
        text-decoration none
        margin-left 33px
        position relative
        
        @media only screen and (max-width: 730px)
            margin-left 12px
        
        &:hover,
        &.is-active 
            color: $colorAccent
            
            &:before
                content ''
                position absolute
                left 0
                right 0
                bottom 0
                height 2px
                background-color: $colorAccent
                
        &:hover
            @media only screen and (max-width: 1024px)
                color #b3b3b3
                &:before
                    background-color transparent
                    
        &.is-active
            @media only screen and (max-width: 1024px)
                color $colorAccent

                &:before
                    background-color $colorAccent
                
        &--filter 
            transform translateZ(0)
            backface-visibility hidden

            &:after 
                display block
                content attr(data-filter-show)
            &.is-active
                &:after 
                    content attr(data-filter-hide)

    &__views 
        display flex
        margin-left 13px
        
        @media only screen and (max-width: 730px)
            margin-left auto

    &__view-item
        display block
        height 60px
        width 60px
        border-left 2px solid #f5f5f5
        background url(../img/filter-view-icons.png) left top no-repeat
        
        &--thumbs
            background-position -129px 24px
            
            &.is-active,
            &:hover
                background-position -129px -99px 
                
        &--simple
            background-position 22px 24px
            
            &.is-active,
            &:hover
                background-position 22px -99px 
                
    &__filter
        display flex
        align-items center
        
        @media only screen and (max-width: 730px)
            flex 1