<div block="sorting">
    <div elem="items">
        <a href="#" elem="item" class="is-active">Предстоящие события</a><!-- e:item -->
        <a href="#" elem="item">Прошедшие события</a><!-- e:item -->
    </div><!-- e:items -->

    <div elem="filter">
        <a href="#" elem="item" mods="filter" class="_js_filter-show" data-filter-show="Открыть фильтры" data-filter-hide="Свернуть фильтры"></a><!-- e:item -->

        <div elem="views">
            <a href="#" elem="view-item" mods="thumbs">
            </a><!-- e:elem -->
            <a href="#" elem="view-item" mods="simple" class="is-active">
            </a><!-- e:elem -->
        </div><!-- e:show-by -->
    </div><!-- e:filter -->
</div><!-- b:sorting -->