<div block="afisha-card">
    <div elem="top">
        <h1>Дирижеры. Высшая лига</h1>
        {% set afishaCard = true %}
        {% set tagsMods = 'type-2' %}
        {% include 'tags.html' %}
    </div>
    <div elem="container">
        <div elem="image-container">
            <div elem="original-images" class="_js-original-slider">
                <div elem="image" data-section-bg="img/card-image.jpg">
                    <a elem="play" class="_js-open-event-video" href="#"></a>
                    <img src="img/card-image.jpg" alt="">
                </div><!-- e:image -->
                <div elem="image" data-section-bg="img/card-image.jpg">
                    <img src="img/card-image.jpg" alt="">
                </div><!-- e:image -->
                <div elem="image" data-section-bg="img/card-image.jpg">
                    <img src="img/card-image.jpg" alt="">
                </div><!-- e:image -->
            </div><!-- e:original-images -->
                    
            <div elem="thumbnails-image">
                <div elem="in" class="_js-thumbnails-slider">
                    <a elem="thumbnail" class="is-active _js-to-original-slide" data-slide-index="0" href="#"><img src="img/card-thumb1.jpg" alt=""></a>
                    <a elem="thumbnail" class="_js-to-original-slide" data-slide-index="1" href="#"><img src="img/card-thumb2.jpg" alt=""></a>
                    <a elem="thumbnail" class="_js-to-original-slide" data-slide-index="2" href="#"><img src="img/card-thumb3.png" alt=""></a>
                    <a elem="thumbnail" class="_js-to-original-slide" data-slide-index="3" href="#"><img src="img/card-thumb3.png" alt=""></a>
                </div>
            </div>
        </div>
        <div elem="desc-container">
            <div elem="desc-list">
                <div elem="desc-list-item">
                    <div elem="desc-list-name">Дата и время:</div>
                    <div elem="desc-list-param">Среда, 2 Мая в 20:00</div>
                </div>
                <div elem="desc-list-item">
                    <div elem="desc-list-name">Длительность:</div>
                    <div elem="desc-list-param">134 мин.</div>
                </div>
                <div elem="desc-list-item">
                    <div elem="desc-list-name">Дирижер:</div>
                    <div elem="desc-list-param">Ян Сибелиус</div>
                </div>
                <div elem="desc-list-item">
                    <div elem="desc-list-name">Исполнители:</div>
                    <div elem="desc-list-param">Йонас Суотамо, Тэнди Ньютон, Джастис Смит, Тед Леван, Тоби Джонс, Йонас Суотамо, Тэнди Ньютон, Джастис Смит, Тед Леван, Тоби Джонс</div>
                </div>
            </div>
            <div elem="description">
                С появлением Яна Сибелиуса музыка Финляндии обрела голос, слышный во всем мире. Созданный им глубоко индивидуальный и своеобразный стиль письма претворяет ритмы и интонации финской народной музыки, образы могучей природы «страны тысячи озер».
            </div>
            <div elem="desc-bot-container">
                <div elem="price">700 – 3 600 ₽</div>
                <div elem="button" class="btn to-places">Выбрать места</div>
                <div elem="counter"><img src="img/square.png" alt="">43</div>
            </div>
        </div>
    </div>
</div>