.afisha-card
    background #fff
    border-radius 6px
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
    margin-bottom 30px
    &__top
        padding 28px 45px
        border-bottom 2px solid #f5f5f5 
        display flex
        flex-wrap wrap
        justify-content space-between
        align-items center
        .b-tags 
            @media only screen and (max-width: 520px)
                display block
                
        .b-tags__item
            @media only screen and (max-width: 520px)
                display table
                
            &--counter
                @media only screen and (max-width: 520px)
                    margin-top 4px !important

        .b-tags__item ~ .b-tags__item 
            @media only screen and (max-width: 520px)
                margin-top 8px
    
    h1  
        font-size 20px
        margin-bottom 0
    &__container
        display flex
        flex-wrap wrap
    &__image-container
        position relative               
        width 50%
        display flex
        overflow hidden
        
    &__original-images
        height 100%
        display flex
        
        .owl-stage-outer
            height 100%
            display flex
            
            .owl-stage
                flex-shrink 0
                
                .owl-item 
                    height 100%
                    display flex
                    
        .owl-nav
            .owl-prev
                left 20px
            .owl-next
                right 20px

    &__image    
        position relative
        width 100%

    &__play
        position absolute
        left 50%
        z-index 1
        top 50%
        transform translate(-50%, -50%) 
        width 60px
        height 60px
        background rgba(255, 255, 255, 0.8) url(../img/play-red.png) center center no-repeat
        border-radius 100px
        &:hover
            background-color rgba(255, 255, 255, 0.9)
            
    &__thumbnails-image
        position absolute       
        left 48px
        right 48px
        bottom 40px
        z-index 1
        @media only screen and (max-width: 450px)
            display none

    &__in 
        display flex
        align-items center
        justify-content center
        max-width 280px
        margin-left auto
        margin-right auto
        width 57.26%
        
        .owl-item 
            transform translateZ(0)
        
        .owl-stage-outer
            @media only screen and (max-width: 450px)
                visibility hidden

    &__thumbnail
        padding 8px
        border 2px solid #78828e
        border-radius 6px
        margin 0 10px
        
        &.is-active 
            border-color $colorPrimary

        img 
            display block
            max-width 100%
            
        
    .owl-stage-outer        
        overflow hidden
    .owl-item   
        float left
        a 
            margin 0
            display block
            
    .owl-prev,
    .owl-next
        position absolute
        top 50%
        margin-top -19px 
        font-size 0 
        width 40px
        height 40px
        border-radius 100px
        cursor pointer
        background rgba(255, 255, 255, 0.8) url(../img/left-arr-grey.png) center center no-repeat
        &:hover
            background-color rgba(255, 255, 255, 1)
    .owl-prev
        left 0
    .owl-next
        right 0
        transform rotate(180deg) 
        
    &__desc-container   
        padding 40px 45px 40px 60px
        border-left 2px solid #f5f5f5
        width 50%
        
        @media only screen and (max-width: 450px)
            padding 20px
                
    &__desc-list    
        display table
        margin-bottom 60px
        @media only screen and (max-width: 450px)
            display block
            
    &__desc-list-item ~ &__desc-list-item
        @media only screen and (max-width: 450px)
            margin-top 13px

    &__desc-list-item
        display table-row
        @media only screen and (max-width: 450px)
            display block
        &:last-child
            & ^[0]
                &__desc-list-name,
                &__desc-list-param
                    padding-bottom 0
            
    &__desc-list-name,
    &__desc-list-param  
        display table-cell
        padding-bottom 26px
        line-height 25px
        @media only screen and (max-width: 450px)
            display block
            line-height 1.4
            padding-bottom 0
        
    &__desc-list-name
        padding-right 20px
        min-width 150px
        font-weight 500
        @media only screen and (max-width: 450px)
            min-width 0
            margin-bottom 5px
            
        
    &__description
        margin-bottom 50px
        line-height 25px
    &__desc-bot-container
        display flex
        align-items center
        @media only screen and (max-width: 450px)
            flex-wrap wrap
    &__price
        padding 15px 15px 13px
        font-size 12px
        font-weight 900
        color #333333
        letter-spacing 1.5px
        border 2px solid #d8d8d8
        border-right 0
        border-radius 4px 0 0 4px
    &__counter
        margin-left 37px
        font-size 12px
        color #cccccc
        @media only screen and (max-width: 450px)
            margin-top 15px
        img 
            margin-bottom 3px
            margin-right 12px
            
    @media (max-width 1100px) 
        &__top
            padding 19px 30px
        &__desc-container
            padding 40px 30px
        &__counter
            margin-left 20px
        &__thumbnails-image
            left 30px
            right 30px
            
    @media (max-width 950px) 
        &__description
            margin-bottom 0
        &__desc-bot-container
            justify-content center
            width 100%
            padding 28px 0
            border-top 2px solid #f5f5f5
        &__desc-list
            margin-bottom 30px      
        
    @media (max-width 790px) 
        &__container
            display block 
            
        &__top
            display block
        h1    
            margin-bottom 12px
            
        &__image-container,
        &__desc-container    
            width auto
        
        &__image-container
            height 570px
            
        &__desc-bot-container
            border-top 0
            padding-top 0
            padding-bottom 40px
            padding-left 10px
            padding-right 10px

    @media (max-width 580px) 
        &__image-container
            height 400px