.icons-block
	display flex
	flex-wrap wrap
	margin-left -30px
	&__item
		width 50%
		padding-left 30px
		margin-bottom 30px
		&:nth-child(2n)
			& ^[0]
				&__icon-text-bg
					left 10px
	&__item-in
		border-radius 6px
		height 100%
		background #fff
		box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
		padding 60px 15px 38px 76px
		display flex
	&__icon-text-bg
		position absolute
		top 0
		left 3px
		line-height 114px
		bottom 0
		font-size 160px
		color #f5f5f5
		font-weight 300
	&__icon
		margin-right 47px
		position relative 
		min-width 97px
		height 114px
		display flex
		align-items center
		img
			z-index 1
			position relative
	&__title
		color #666
		font-size 18px
		font-weight 500
		margin-bottom 12px
	&__desc
		font-size 12px
		color #b3b3b3
		line-height 25px
		font-weight 500

	@media (max-width 1100px) 
		&__item-in
			padding-left 40px
		&__icon
			margin-right 40px
	
	@media (max-width 940px) 
		&__item-in
			padding-top 30px		
			padding-bottom 30px
			padding-left 30px
		&__icon
			height 86px
			min-width 75px
			margin-right 25px
		&__icon-text-bg
			font-size 120px
			min-width 80px
			line-height 86px
		
	@media (max-width 830px) 
		&__icon
			display none
		&__item-in
			padding-left 20px
		&__text			
			display flex
			flex-direction column
		&__desc	
			flex 1
			display flex
			align-items center
			
	@media (max-width 730px) 
		margin-left -10px	
		margin-bottom 40px
		&__item
			padding-left 10px
			margin-bottom 10px
			
	@media (max-width 550px) 
		margin-left 0
		display block
		&__item
			width auto
			padding-left 0