<div block="icons-block">
	<div elem="item">
		<div elem="item-in">
			<div elem="icon">
				<div elem="icon-text-bg">D</div>	
				<img src="img/flag_icon.svg" alt="">
			</div>
			<div elem="text">
				<div elem="title">Есть вопрос? Звони!</div>
				<div elem="desc">
					Служба поддержки: +7 (863) 263-35-69 <br>
					Кассы: +7 (863) 263-35-69 <br>
					Время работы касс: с 10.00 до 18.00 (ежедневно), <br>
					с 10.00 до 19.00 (в день концерта)
				</div>			
			</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-in">
			<div elem="icon">
				<div elem="icon-text-bg">A</div>	
				<img src="img/cup_icon.svg" alt="">
			</div>
			<div elem="text">
				<div elem="title">Как купить билет</div>
				<div elem="desc">
					Digital marketing is an umbrella term for the marketing of products or services using digital technologies, mainly on the Internet
				</div>			
			</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-in">
			<div elem="icon">
				<div elem="icon-text-bg">S</div>	
				<img src="img/wallet_icon.png" alt="">
			</div>
			<div elem="text">
				<div elem="title">Как вернуть билет</div>
				<div elem="desc">
					Shopper marketing is "understanding how one's target consumers behave as shoppers, in different channels and formats, and leveraging
				</div>			
			</div>
		</div>
	</div>
	<div elem="item">
		<div elem="item-in">
			<div elem="icon">
				<div elem="icon-text-bg">B</div>	
				<img src="img/cup_icon.svg" alt="">
			</div>
			<div elem="text">
				<div elem="title">Правила посещения</div>
				<div elem="desc">
					Branding is one of the most important aspects of any business, large or small, retail or B2B. An effective brand strategy gives you a major
				</div>			
			</div>
		</div>
	</div>
</div>