.fix-mob-navigation
    position fixed
    display flex
    flex-direction column
    width 100%
    background #fff
    right 0
    top 104px
    bottom 0
    z-index -5
    opacity 0
    pointer-events none
    text-align center
    transition all 0.5s
    
    &.is-opened
        opacity 1
        z-index 150
        transition all 0.5s
        pointer-events auto
        
    &__top
        display flex
        flex 1
        position relative
            
    &__bottom
        padding 0 0 32px 0
        flex none
        
        a 
            color #666
            text-decoration none
            font-size 14px
            font-weight 500
            line-height 30px
            
            &:hover 
                text-decoration none
        
    &__scroll
        position absolute
        left 0
        right 0
        top 0
        bottom 0
        overflow-y auto
        -webkit-overflow-scrolling: touch;
        
    &__content
        display flex
        justify-content center
        align-items center
        min-height 100%
        position relative
        padding 17px 11px 17px 11px
        box-sizing border-box
        
    &__list
        list-style none
        margin 0
        padding 0
        
        li ~ li
            margin-top 32px

        li
            margin 0
            padding 0
            
            a
                height 36px
                color #666
                font-family Roboto
                font-size 14px
                font-weight 500
                line-height 30px
                text-transform uppercase
                text-decoration none
                
                span 
                    display block
                    font-size 11px
                    line-height 0
                    text-transform none
                
                &:hover 
                    color $colorPrimary
                    text-decoration none
                    
                &.is-active
                    color $colorPrimary