<div block="fix-mob-navigation">
    <div elem="top">
        <div elem="scroll">
            <div elem="content">
                <ul elem="list">
                    <li>
                        <a class="is-active" href="#">Каталог мероприятий</a>
                    </li>
                    <li>
                        <a href="#">Календарь мероприятий</a>
                    </li>
                    <li>
                        <a href="#">Оставить отзыв<span>(о новом сайте)</span></a>
                    </li>
                </ul><!-- e:list -->
            </div><!-- e:content -->
        </div><!-- e:scroll -->
    </div><!-- e:top -->
    <div elem="bottom">
        <a href="tel:+78632633569">+7 863 263-35-69</a>
    </div><!-- e:bottom -->
</div><!-- b:fix-mob-navigation -->