.app-header
    position relative
    z-index 151
    flex none
    background-color #fff
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
    
    @media only screen and (max-width: 730px)
        position fixed
        left 0
        top 0
        right 0

    
    &:before
        content ''
        position absolute
        right 50%
        top 0
        bottom 0
        width 1440px
        max-width 100%
        pointer-events none
        background url(../img/header_bg.png) left center no-repeat
        background-size auto 100%
        transform translateX(50%)
        

        @media only screen and (max-width: 730px)
            display none

    &__section
        display flex
        width 1440px
        max-width 100%
        margin 0 auto

        &--main 
            position relative
            align-items center
            
            &:before
                content ''
                
        &--nav
            display flex
            align-items center
            
            @media only screen and (max-width: 730px)
                display none
        
    &__search 
        flex 1
        padding 0 29px 0 26px
        
        @media only screen and (max-width: 730px)
            display none
        
    &__logo
        font-size 18px
        font-weight 900
        letter-spacing 1.35px
        color #4d4d4d
        text-decoration none
        text-transform uppercase
        line-height 21px
        flex 0 0 150px
        max-width 150px
        width 150px
        padding 13px 14px 14px 30px
        border-right 3px solid #f5f5f5 
        
        img 
            max-width 100%
            height auto
        
        @media only screen and (max-width: 1024px)
            font-size 14px
            line-height 16px
            letter-spacing 1.05px
            flex 0 0 202px
            max-width 202px
            width 202px
            
        @media only screen and (max-width: 730px)
            font-size 11px
            flex 0 0 85px
            max-width 85px
            width 85px
            margin-right 0
            border none
            letter-spacing: 0.83px;
            line-height 12px
            padding 14px 0 14px 10px
        
        &:hover 
            text-decoration none
            color #4d4d4d
            
    &__socials 
        border-left 2px solid #f5f5f5   
        flex 0 0 294px
        width 294px
        max-width 294px
        align-self stretch
        display flex
        align-items center
        
        @media only screen and (max-width: 1024px)
            flex 0 0 175px
            width 175px
            max-width 175px
            
        @media only screen and (max-width: 730px)
            display none
            
    &__divider 
        height 2px
        background-color #f5f5f5
        
        @media only screen and (max-width: 730px)
            display none

    &__nav 
        flex 1
        
        ul 
            display flex
            margin 0
            padding 0
            list-style-type none
            
            li 
                margin 0
                padding 0
                flex 0 0 25%
                max-width 25%
                width 25%
                border-left 2px solid #f5f5f5
                
                @media only screen and (max-width: 1024px)
                    flex 0 0 50%
                    max-width 50%
                    width 50%
                
                &:first-child
                    border none
                    
                    @media only screen and (max-width: 1024px)
                        display none
                    
                &:last-child

                    @media only screen and (max-width: 1024px)
                        display none

                    a                         
                        flex-direction column
                
                a 
                    display flex
                    align-items center
                    justify-content center
                    flex-wrap wrap
                    height 90px
                    text-align center
                    color #666
                    font-size 16px
                    line-height 1
                    font-weight 500
                    text-decoration none
                    
                    @media only screen and (max-width: 1024px)
                        height 50px
                        font-weight 400
                    
                    &:hover,
                    &.is-active
                        background-color $colorPrimary
                        color #fff

                    > img
                        margin-right 17px
                        
                    > .small
                        display block
                        line-height 1
                        font-size 10px
                        margin-top 4px
                        margin-bottom -13px
                        
                        @media only screen and (max-width: 1024px)
                            margin-bottom -3px

        &--tablet
            position absolute
            top 100%
            left 0
            right 0
            display none
            opacity 0
            pointer-events none
            z-index 50
            background-color #fff
            transition opacity .3s
            border-top 1px solid #f5f5f5
            box-shadow 0 2px 5px rgba(0,0,0,0.05)
            
            @media only screen and (max-width: 1024px)
                display block
            
            @media only screen and (max-width: 730px)
                display none !important
            
            ul 
                li
                    flex 1
                    max-width 100%
                    width auto
                    
                    @media only screen and (max-width: 1024px)
                        &:first-child,
                        &:last-child 
                            display block
            
            &.is-opened
                opacity 1
                pointer-events auto
    
    &__phone
        flex 0 0 294px
        width 294px
        max-width 294px
        align-self stretch
        display flex
        align-items center
        justify-content center
        border-left 2px solid #f5f5f5
        
        @media only screen and (max-width: 1024px)
            flex 0 0 175px
            width 175px
            max-width 175px
        
        a 
            color #666
            font-size 16px
            font-weight 500
            line-height 30px
            text-decoration none
            width 100%
            height 100%
            display flex
            justify-content center
            align-items center
            
            &:hover 
                color #fff !important
                background-color $colorPrimary
            
            @media only screen and (max-width: 1024px)
                font-weight 400
            
            &:hover 
                text-decoration none 
                color $colorPrimary
                
    &__drop-icon
        flex 0 0 77px
        max-width 77px
        width 77px 
        border-left 2px solid #f5f5f5
        display flex
        justify-content center
        align-items center
        height 50px
        display none
        cursor pointer
        
        @media only screen and (max-width: 1024px)
            display flex
        
        .svg-icon
            width 17px
            height 11px
            fill: $colorPrimary
            
        &.is-active
            transform rotate(-180deg)
                
    &__burger 
        margin 0 10px 0 auto
        color $colorPrimary
        display none
        
        @media only screen and (max-width: 730px)
            display flex

        .svg-icon
            height 16px
            width 19px
            fill $colorPrimary
            
            &--close
                position relative
                right -5px
                display none
                height 26px
                width 27px
                

        &.is-active 
            .svg-icon
                &--burger-icon
                    display none
                &--close 
                    display block