<header block="app-header">
   <div elem="section" mods="main">
        
        <a href="/" elem="logo"><img src="img/site-logo.png" alt=""></a><!-- e:logo -->

        {%  set search_mix_class = "app-header__search" %}
        {% include "search.html" %}

        {%  set socials_mix_class = "app-header__socials" %}
        {% include "socials.html" %}

        <a href="#" elem="burger" class="_js-mobile-nav-open">
            <icon name="burger-icon" tag="span">
            <icon name="close" tag="span">
        </a><!-- e:burger -->
    </div><!-- e:section -->

    <div elem="divider"></div><!-- e:devider -->

    <div elem="section" mods="nav">
        <nav elem="nav">
            <ul>
                <li>
                    <a href="#">
                        <img src="img/arr-left.png" alt="">
                        Основной сайт
                    </a>
                </li>
                <li>
                    <a class="is-active" href="#">Каталог меропиятий</a>
                </li>
                <li>
                    <a href="#">Календарь мероприятий</a>
                </li>
                <li>
                    <a href="#">Оставить отзыв <span class="small">(о новом сайте)</span></a>
                </li>
            </ul>
        </nav><!-- e:nav -->
        <div elem="phone">
            <a href="tel:+78632633569">+7 863 263-35-69</a>
        </div><!-- e:phone -->
        <div elem="drop-icon" class="_js-show-tablet-nav">
            <icon name="header-drop-icon" tag="span">
        </div><!-- e:drop-icon -->
    </div><!-- e:section -->

    <div elem="nav" mods="tablet">
        <ul>
            <li>
                <a href="#">
                    Основной сайт
                </a>
            </li>
            <li>
                <a href="#">Оставить отзыв <span class="small">(о новом сайте)</span></a>
            </li>
        </ul>
    </div><!-- e:nav -->
</header><!-- b:app-header -->
