.crumbs 
    display flex
    align-items center
    margin 50px 0
    
    @media only screen and (max-width: 1024px)
        margin 35px 0
        
    @media only screen and (max-width: 740px)
        display none

    &__items 
        display flex
        align-items center
        padding-left 35px
        
        @media only screen and (max-width: 1024px)
            padding-left 0

    &__item
        color #d0d0d0
        font-weight 500
        text-decoration none
        &:hover 
            color #d0d0d0
            text-decoration none
            
        &--current 
            color #666
    &__sep
        margin 0 30px