<div block="crumbs">
    <div elem="items">
        <a href="#" elem="item">Афиша</a>
        <img class="crumbs__sep" src="img/crumbs-arrow.png" alt="">
        <a href="#" elem="item">Дирижеры. Высшая лига</a>
        <img class="crumbs__sep" src="img/crumbs-arrow.png" alt="">
        <span elem="item" mods="current">Выбор места</span>
    </div><!-- e:items -->

    {% include "share.html" %}
</div><!-- b:crumbs -->