.content-menu
	margin 53px 0 30px
	padding-left 40px
	padding-right 40px
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
	border-radius 6px
	background-color #fff
	position relative
	display flex
	overflow hidden
	&__item
		flex 1
		border-left 1px solid #f5f5f5
		a 
			text-align center
			display block
			padding 17px 20px 16px
			font-size 16px
			line-height 21px
			font-weight 400
			color #666
			text-decoration none	
			&:hover,
			&.is-active							
				color #fff
				background-color $colorPrimary
	.owl-prev,
	.owl-next
		position absolute
		top 0
		bottom 0
		width 42px
		background url(../img/arrow_right.png) center 30px no-repeat
		z-index 1
		&:hover
			background-color rgba(#000, 0.04)
	.owl-prev
		transform rotate(180deg) 
		left 0
		border-left 2px solid #f5f5f5
	.owl-next
		right 0
		border-left 2px solid #f5f5f5
		