<div block="content-menu">
	<div elem="item"><a href="#">Ср 2 Май <br> 17:40</a></div>
	<div elem="item"><a href="#">Ср 2 Май <br> 20:00</a></div>
	<div elem="item"><a href="#">Ср 6 Май <br> 14:00</a></div>
	<div elem="item"><a href="#">Ср 6 Май <br> 17:40</a></div>
	<div elem="item"><a href="#">Ср 2 Май <br> 17:40</a></div>
	<div elem="item"><a href="#">Ср 2 Май <br> 20:00</a></div>
	<div elem="item"><a href="#">Ср 6 Май <br> 14:00</a></div>
	<div elem="item"><a href="#">Ср 6 Май <br> 17:40</a></div>
</div>