<div block="cart-steps">
	<div elem="item" {% if activeStep1 == true %}class="is-active"{% elif doneStep1 == true %}class="done"{% endif %}>
		<div elem="icon" mods="step-1"></div>
		<div elem="text-conteiner">
			<div elem="title1">ПЕРВЫЙ ШАГ</div>
			<div elem="title2">Корзина</div>
		</div>
	</div>
	<div elem="item" {% if activeStep2 == true %}class="is-active"{% elif doneStep2 == true %}class="done"{% endif %}>
		<div elem="icon" mods="step-2"></div>
		<div elem="text-conteiner">
			<div elem="title1">ВТОРОЙ ШАГ</div>
			<div elem="title2">Оформление заказа</div>
		</div>
	</div>	
	<div elem="item" {% if activeStep3 == true %}class="is-active"{% elif doneStep3 == true %}class="done"{% endif %}>
		<div elem="icon" mods="step-3"></div>
		<div elem="text-conteiner">
			<div elem="title1">ТРЕТИЙ ШАГ</div>
			<div elem="title2">Оплата</div>
		</div>
	</div>
	<div elem="item" {% if activeStep4 == true %}class="is-active done"{% endif %}>
		<div elem="icon" mods="step-4"></div>
		<div elem="text-conteiner">
			<div elem="title1">ЧЕТВЕРТЫЙ ШАГ</div>
			<div elem="title2">Подтверждение</div>
		</div>
	</div>
</div>