.cart-title
	text-align center
	color #666
	padding-bottom 40px
	position relative
	font-size 30px
	font-weight 400
	margin 60px 0 61px
	padding-bottom 30px
	
	&:after
		content ""
		position absolute
		left 50%
		bottom 0
		width 70px
		margin-left -35px
		height 2px
		background $colorAccent
		
	@media (max-width 730px) 		
		margin-top 25px
		margin-bottom 30px
		padding-bottom 10px
		
	@media (max-width 500px) 		
		text-align left
		font-size 18px
		margin-top 38px
		margin-bottom 20px
		padding-bottom 15px
		&:after
			left 0
			margin-left 0

.cart-steps
	background #fff
	border-radius 6px
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
	margin-bottom 30px
	padding 45px 59px 45px 54px
	display flex
	align-items center
	justify-content space-between
	&__item
		display flex
		align-items center
		&.is-active
			& ^[0]
				&__icon
					border-color $colorAccent
					background-color $colorAccent
		&.done
			& ^[0]
				&__icon
					border-color #34cb49
					background-color #34cb49
			
			
	&__icon
		width 60px
		height 60px
		border 2px solid #f5f5f5
		border-radius 100px
		margin-right 30px
		background-image url(../img/cart-steps-ico.png)
		background-repeat no-repeat
		&--step-1
			background-position 17px 17px
		&--step-2
			background-position -27px 18px
		&--step-3
			background-position -73px 19px
		&--step-4
			background-position -113px 19px
	&__item
		&.is-active,
		&.done			
			& ^[0]
				&__icon
					&--step-1
						background-position 17px -23px
					&--step-2
						background-position -27px -22px
					&--step-3
						background-position -73px -21px
					&--step-4
						background-position -113px -21px
	&__title1
		font-size 10px
		color #ccc
		text-transform uppercase
		font-weight 900
		margin-bottom 6px
	&__title2
		font-size 14px
		font-weight 500
		color #666
	
	@media (max-width 950px) 
		padding 30px
		&__icon
			margin-right 20px
			
	@media (max-width 820px) 
		padding-top 58px
		padding-bottom 50px
		align-items flex-start
		&__item
			&.is-active	
				& ^[0]
					&__title1
						color $colorAccent
			&.done	
				& ^[0]
					&__title1
						color #34cb49
		&__icon
			display none
		&__text-conteiner
			width 100%
		
	@media (max-width 730px) 
		padding 24px 20px 20px
		
	@media (max-width 500px) 
		display block		
		padding-top 20px
		padding-bottom 1px
		text-align center
		&__item
			width 100%
			display none
			margin-bottom 16px			
			&.is-active
				display block
			
		
	
						