<div block="b-404" mix="block:container">
	{% set page404 = true %}
	{% set tagsMods = 404 %}
	{% include 'tags.html' %}
	<div elem="text-container">
		<div elem="bg-text">TICKETS</div>
		<div elem="text">Страница не <b>найдена</b></div>
	</div>
	<div elem="back-btn" class="btn back-btn">Назад к афише</div>	
</div>