.btn
	background $colorPrimary
	text-decoration none
	cursor pointer
	color #fff
	padding 10px 20px 10px
	border 2px solid #f5f5f5
	border-radius 4px
	text-transform uppercase
	font-size 10px
	font-weight 900
	letter-spacing 1.25px
	&.back-btn
		padding-left 48px
		position relative
		&:after
			content ""
			position absolute
			left 24px
			top 50%
			margin-top -7px
			width 14px
			height 14px			
			background url(../img/left_arrow_white.png) center center no-repeat
	&:hover
		background lighten($colorPrimary, 10%)
	&:active	
		box-shadow inset 0 1px 2px rgba(#000, 0.3)
		background darken($colorPrimary, 5%)
		
	&.to-places
		padding 17px 54px 15px 18px
		position relative
		border 0
		border-radius 0 4px 4px 0
		font-size 12px
		background lighten($colorPrimary, 10%)
		&:hover
			background lighten($colorPrimary, 20%)		
		&:active
			background darken($colorPrimary, 0%)
		&:after
			content ""
			position absolute
			right 19px
			top 50%
			margin-top -10px
			width 20px
			height 20px
			background url(../img/car-icon-white.png) center center no-repeat

.b-404
	background #fff
	border-radius 6px
	padding 90px 30px
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
	display flex
	align-items center
	flex-direction column
	
	&__text-container
		position relative
		margin-bottom 62px
		
	&__bg-text
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%) 
		font-weight 900
		letter-spacing 16.67px
		color #f5f5f5
		text-transform uppercase
		z-index 0
		font-size 100px
		
	&__text
		font-size 36px
		position relative		
		padding-top 60px
		padding-bottom 60px
		font-weight 300
		b 
			font-weight 900
		&:after	
			content ""
			height 2px
			width 70px
			background #50d166
			position absolute
			left 50%
			bottom 0
			margin-left -35px	
			
	@media (max-width 730px) 
		padding-top 30px
		padding-bottom 30px
		&__text-container
			margin-top 32px
			margin-bottom 50px
		&__bg-text
			font-size 48px
		&__text
			font-size 24px
			padding-top 23px
			padding-bottom 25px
			
	@media (max-width 380px) 
		&__bg-text
			letter-spacing 8px