<footer block="app-footer" {% if footerPayIco == true %}mods="has-pay-ico"{% endif %}>
 	<div elem="section" mods="top">
 		<div elem="content" mix="block:container">
 			<a elem="site-name" href="#">ROSTOVFILARM</a>
 			<div elem="soc-icons">
 				<a href="#"><img src="img/vk.png" alt=""></a>
 				<a href="#"><img src="img/fb.png" alt=""></a>
 				<a href="#"><img src="img/instagramm.png" alt=""></a>
 			</div>
 		</div>
 	</div>
 	<div elem="section" mods="bot">
 		<div elem="content" mix="block:container">
 			<div elem="copyright">
 				© 2018. Ростовская государственная филармония
 				{% if footerPayIco != true %}
 				<a href="#" elem="agreement">Политика конфиденциальности</a>
 				{% endif %}
 			</div>
 			{% if footerPayIco == true %}
 			<div elem="pay-icons">
 				<span>Доступные способы оплаты</span> 				
				<img src="img/visa_icon.svg" alt="Visa">
				<img src="img/mastercard_icon.svg" alt="MasterCard">
				<img src="img/paypal_icon.svg" alt="PayPal">
				<img src="img/amazon_icon.svg" alt="Amazon">
 			</div>
 			{% else %}
 			<div elem="gagarin">Разработка – <a href="#" target="_blank">Gagarin</a></div>
 			{% endif %}
 		</div>
 	</div>
</footer><!-- b:app-footer -->
