.app-footer
    flex none
    background #fff
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
    &__section
        &--top
            border-bottom 2px solid #f5f5f5
            padding-top 49px
            padding-bottom 38px
        &--bot 
            padding-top 50px
            padding-bottom 48px
            color #b3b3b3
            font-weight 300
            & ^[0]
                &__content
                    align-items flex-start
                    
    
    &__content
        display flex
        align-items center
        justify-content space-between

    &__site-name
        font-size 22px
        font-weight 900
        text-transform uppercase
        text-decoration none
        color #505050
        &:hover
            color #505050
    &__soc-icons
        a
            text-decoration none           
            margin-left 27px
            &:first-child
                margin-left 0
                
            &:hover    
                opacity 1
    &__agreement
        display inline-block
        text-decoration none
        color #b3b3b3
        margin-left 50px

    &__pay-icons
        span
            margin-right 20px 
        img
            max-width 45px
            margin-right 5px
            
    &__gagarin
        a 
            color #b3b3b3
            text-decoration none
            
            &:hover
                color #5762f1
                text-decoration none

    &--has-pay-ico
        & ^[0]
            &__section
                &--bot
                    & ^[0]
                        &__content
                            align-items center

    @media (max-width 940px) 
        &__section
            &--top
                padding-top 31px
                padding-bottom 24px
            &--bot    
                padding-top 31px
                padding-bottom 24px
                
    
    @media (max-width 850px) 
        &__pay-icons
            text-align right
            span
                margin-right 0
                margin-bottom 10px
                display block
            img    
                margin-right 0
                margin-left 5px
                max-width 40px
                
        &--has-pay-ico
            & ^[0]
                &__section
                    &--bot
                        padding-top 11px
                        padding-bottom 16px
                &__copyright
                    padding-top 6px
    
    @media (max-width 820px) 
        &__copyright
            max-width 340px
        &__agreement    
            margin-left 0
            margin-top 15px
        
    
    @media (max-width 560px) 
        &__section
            &--top
                padding-top 19px
                padding-bottom 16px
            &--bot
                padding-top 18px
                padding-bottom 15px
                
        &__content
            display block
        &__site-name
            display inline-block
            margin-bottom 10px
        &__copyright
            max-width 100%
            margin-bottom 20px
        &__agreement
            margin-top 10px
        &__pay-icons
            text-align left
            display flex
            align-items center
            span
                margin-bottom 0
                margin-right 10px
                
    @media (max-width 400px) 
        &__pay-icons
            display block
            span 
                margin-bottom 8px
            img
                max-width 45px
                margin-left 0
                margin-right 5px