.places 
    margin 20px 0 100px
    background #fff
    
    &__header
        display flex
        align-items center 
        height 121px
        border-radius 6px 6px 0 0

        img 
            display none
            
    &__haeder-text 
        font-size 24px
        color #fff
        padding 0 95px 0
        felx 1 
        max-width 100%
        
        @media only screen and (max-width: 1024px)
            padding 0 20px
            font-size 18px
        
    &__footer 
        border-top 2px solid #f5f5f5
        text-align center
        color #808080
        font-weight 500
        padding 20px 
        border-radius 0 0 6px 6px
        overflow hidden

        a[href^="tel"]
            color #808080
            text-decoration none

            &:hover
                color #808080
                text-decoration none
        
        p 
            margin 0
            
        p + p 
            margin-top 3px

    &__layout
        &--viewbox
            flex 0 0 395px
            max-width 395px
            width 395px
            border-right 1px solid #eceae6
            
            @media only screen and (max-width: 1024px)
                flex none
                max-width 100%
                width 100%
                
            .places__map-cell,
            .places__map-row
                pointer-events none
                
            .places__preview-place .seat--selected
                background #303030
            
        &--zoom 
            display flex
            flex 1
            
            @media only screen and (max-width: 1024px)
                display none
                flex none
                max-width 100%
                width 100%
                height 478px
                margin-top -478px

    &__main
        display flex
        background-color #fbfbfb
        
        &.is-active-place
            ._js-zoom-panel
                visibility visible
            ._js-zoom-place
                display flex
                
            .places__section--balcon
                @media only screen and (max-width: 1024px)
                    display none
                
            .places__name 
                @media only screen and (max-width: 1024px)
                    padding-top 45px
                    padding-bottom 45px

        &.is-active-place2
            ._js-zoom-panel2
                visibility visible
            ._js-zoom-place2
                display flex
                
            .places__section--parter
                @media only screen and (max-width: 1024px)
                    display none

        &.is-active-zoom
            .places__preview-place--small-hall
                @media only screen and (max-width: 1024px) 
                    width 102px
            .places__preview 
                display none
                
            @media only screen and (max-width: 1024px)
                flex-direction column
                
                .places__section-name 
                    display none
                    
                .places__layout--viewbox
                    @media only screen and (max-width: 1024px)
                        position relative
                        
                    .places__name 
                        @media only screen and (max-width: 1024px) 
                            padding-right 216px
                            position relative
                                
                        @media only screen and (max-width: 740px)
                            padding-right 133px
                            

                    .places__name:before
                        @media only screen and (max-width: 1024px) 
                            content '' 
                            position absolute
                            right 216px
                            top 0
                            bottom 0
                            border-left 2px solid #eceae6
                            
                        @media only screen and (max-width: 740px)
                            right 133px

                    .places__note 
                        @media only screen and (max-width: 1024px)
                            display none
                        
                    .places__content {}
                    
                    .places__body
                        @media only screen and (max-width: 1024px)
                            position absolute 
                            right 0
                            top 0
                            width 216px
                            height 79px
                            display flex 
                            flex-direction column
                            justify-content center
                            // border-left 2px solid #eceae6
                        
                        @media only screen and (max-width: 740px)
                            width 133px
                        
                    .places__sections
                        @media only screen and (max-width: 1024px)
                            width 100px
                            margin 0 auto

                    .places__section--scene
                        @media only screen and (max-width: 1024px)
                            font-size 0
                            line-height 0
                            margin-bottom 5px
                            margin-left 15px
                            margin-right 15px
                            
                    .places__section ~ .places__section
                        @media only screen and (max-width: 1024px)
                            margin-top 5px
                            

                    .places__price
            
                        @media only screen and (max-width: 1024px)
                            margin-top auto
                            position absolute
                            left 0
                            right 0
                            bottom 0
                            z-index 2
                            
                .places__layout--zoom
                    @media only screen and (max-width: 1024px)
                        display flex
                        position relative
        
    &__name
        text-align center 
        font-size 18px
        line-height 1 
        padding 30px 0 
        text-transform uppercase
        font-weight 500
        border-bottom 1px solid #eceae6
        
    &__content 
        display flex
        flex-direction column
        justify-content space-between
        height 478px
        padding-top 20px
        
        @media only screen and (max-width: 1024px)
            padding-top 30px
            justify-content flex-start
            

    &__price 
        @media only screen and (max-width: 1024px)
            margin-top auto

    &__note
        padding 0 20px
        font-weight 500
        line-height 16px
        
        @media only screen and (max-width: 1024px)
            text-align center
            margin-bottom 37px
        
    &__sections 
        margin-top -10px
        
        &--big-hall 
            width 245px
            margin 0 auto

        &--small-hall
            @media only screen and (max-width: 1024px)
                width 370px
                margin 0 auto
                
                max-width 100%
                
                
            @media only screen and (max-width: 380px)
                padding-left 15px
                padding-right 15px
        
        &--zoom-big-hall 
            width 365px
            margin 0 auto
            padding-top 16px
            
            .places__section
                background #fff
                border 2px solid #f6f6f6
                border-radius 6px
                position relative
                font-size 12px
                
                img 
                    border-radius 6px
                    

                
            .places__section--scene 
                background none
                border none
                border-bottom 2px solid #c6c6c6
                border-radius 0
                padding-bottom 0
                margin-left 32px
                margin-right 32px
                margin-bottom 14px
                
                .places__section-name
                    padding 0 0 4px
                    
            .places__section--border {}
            
            .places__section
                
                &:hover
                    border 2px solid #bd6eb8
                    
                
            .places__section-name 
                padding 4px 0 0
        
    &__section
        text-align center
        text-transform uppercase
        font-weight 500
        font-size 10px
        position relative

        &:hover
            .place-infowindow
                display block
        
        &--scene
            padding-bottom 4px
            margin 0 50px 10px
            border-bottom 2px solid #c6c6c6
            
            @media only screen and (max-width: 1024px)
                margin-left 24px
                margin-right 24px
                font-size 12px

    &__section-image 
        margin-top 2px
            
    &__section ~ &__section
        margin-top 10px
        
    &__preview-place
        cursor pointer
        font-size 0
        line-height 0
        
        .places__image 
            max-width 100%
            height auto
            
        svg 
            width 100%
            height auto
            
            #scene
                display none
    
        &--small-hall
            margin 0 14px
            position relative
            
            @media only screen and (max-width: 1024px)
                margin 0
                // width 102px
                    
        &--parter
            // margin 0 14px
            position relative
            
            @media only screen and (max-width: 1024px)
                margin 0
                // width 102px
                    
        &--balcon
            // margin 0 14px
            position relative
            
            @media only screen and (max-width: 1024px)
                margin 0
                // width 102px
                    
            .places__zoom-panel
                top 0 !important
                max-height 100%

        .places__map-cell
            height 11.212121212121211px
            width 11.212121212121211px
            flex 0 0 11.212121212121211px
            max-width 11.212121212121211px
            margin 2.42px 2.8030303030303028px
            font-size 0
            line-height 0
            // pointer-events none
            background-color #c7c7c7
            
            // @media only screen and (max-width: 1024px) 
            //     height 2.7px
            //     width 2.7px
            //     flex 0 0 2.7px
            //     max-width 2.7px
            //     border-radius 2.7px
            //     margin 1px
            
            &:first-child
                margin-left 0
            &:last-child
                margin-right 0
                
               
        // .places__map-row
        //     pointer-events none
        
    &__zoom-panel 
        position absolute
        left 0
        top 0
        width 185px
        height 170px
        visibility hidden
        background rgba(#fda92a, .3)
        cursor pointer
        // transition left .3s, top .3s
        
        user-select none
        
        &.is-visible
            visibility visible
        
    // zoom
    &__zoom
        position relative
        display none
        overflow hidden
        width 100%
        height 100%
        // pointer-events none
        
        &.is-visible
            display flex
            pointer-events auto
            
        // .places__rows-scroller,
        // .places__image-scroller
        //     padding-top 200px
            
        &--balcon
            .places__rows,
            .places__image-scroller
                padding-top 140px
                height 417px
                
                @media only screen and (max-width: 1024px)
                    padding-top 96px
        
    &__rows-scroller
        position relative
        z-index 1
        flex 0 0 50px
        max-width 50px
        width 50px
        overflow hidden
        background-color #fbfbfb
        border-left 1px solid #eceae6
        border-right 1px solid #eceae6
        
        @media only screen and (max-width: 1024px)
            border-left none
            
    &__preview
        margin 0 auto
        
        &--small-hall
            margin-top 193px  
            
            &:hover
                .cls-1
                    stroke #bd6eb8
            
        .places__preview-place--small-hall
            margin 0 
            padding 15px 5px 12px
            background-color #fff
            border-radius 6px
            border 2px solid #f6f6f6
            
            &:hover
                border-color #bd6eb8

        &--big-hall
            width 360px
            margin-top 20px
            
            .places__section-image
                background-color #fff
                border 2px solid #f8f8f8
                border-radius 6px
                padding 8px 5px 5px
                
                &:hover
                    border-color #bd6eb8

    &__image-scroller
        flex 1
        height 557px
        position relative
        overflow auto
        -webkit-overflow-scrolling touch
        z-index 1
        background-color #fbfbfb
        margin-right -17px
        box-sizing content-box
        padding-bottom 17px
        margin-bottom -17px
        
        @media only screen and (max-width: 1024px)
            height 478px
            z-index auto
            margin 0
            padding 0
            box-sizing border-box
        
    &__big-map 
        height 100%
        // transition left .3s, top .3s
        user-select none
        cursor grab
        // overflow auto
        
        &.cursor-grabbing 
            cursor grabbing
            
        .places__map
            position absolute

        .places__map-row:before
            content '' 
            flex 0 0 42px
            width 42px
            max-width 42px
            visibility hidden  

        .places__map-row:after
            content '' 
            flex 0 0 50px
            width 50px
            max-width 50px
            visibility hidden        
           

        @media only screen and (max-width: 767px)
            left 0

    &__rows 
        // position absolute
        // left 1px
        // top 0
        // right 1px
        height 557px
        overflow-y scroll
        box-sizing content-box
        // padding-bottom 17px
        // margin-bottom -17px
        margin-right -17px
        user-select none
        transition top .3s
        
        
        @media only screen and (max-width: 1024px)
            height 478px
            padding-right 17px
            box-sizing border-box
            padding-bottom 0
            margin-bottom 0

    &__row 
        width 100%
        height 60px
        line-height 60px
        text-align center
        font-size 20px
        padding-top 2px
        font-weight 700

    &__map-row 
        display flex
        
    &__map-cell 
        width 40px
        height 40px
        flex 0 0 40px
        border-radius 40px
        text-align center
        line-height 40px
        font-size 18px
        color #b7b7b7
        font-weight 500
        margin 10px 7px 10px
        background-color #e5e5e5
        
        &.is-hidden
            visibility hidden
            

    &--small-hall
        .places__main.is-active-place
            .places__name  
                @media only screen and (max-width: 1024px)
                    padding-top 30px
                    padding-bottom 30px
    &--big-hall {}
            

body.app--places_big
    .places__content
        @media only screen and (max-width: 1024px)
            height 500px
            
    .places__note 
        @media only screen and (max-width: 1024px)
            margin-bottom 15px
            
    .places__layout--zoom
        @media only screen and (max-width: 1024px)
            height 500px
            margin-top -500px

/* seats */

.seat 
    cursor default
    
    &--available
        cursor pointer
    
    &--price 
        color #fff
    
    &--price_a 
        background-color #61c2e1

    &--price_b 
        background-color #b1d164
        
    &--price_c
        background-color #fda92a
        
    &--price_d
        background-color #fc5a5d
        
    &--price_e 
        background-color #bd6eb8
        
    &--border 
        border 1px solid #f74236
