<div block="c-p-block">
    <div elem="list">
        <div elem="list-item" mods="titles">
            <div elem="coll" mods="l">
                <div elem="list-item-container"  mods="title">Мероприятие</div>
                <div elem="list-item-container">Дата</div>
            </div>
            <div elem="coll" mods="r">
                <div elem="list-item-container" mods="place">Место(а)</div>
                <div elem="list-item-container" mods="room">Зал</div>
                <div elem="list-item-container" mods="price">Цена</div>
                <div elem="list-item-container" mods="delete"></div>
            </div>
        </div>
        <div elem="list-item" mods="product">
            <div elem="coll" mods="l">
                <div elem="list-item-container" mods="title">Дирижеры. Высшая лига</div>
                <div elem="list-item-container">18 Ноября 2017, 18:00</div>
            </div>
            <div elem="coll" mods="r" mix="block:tickets">
                <div elem="items-row">                  
                    <div elem="list-item-container" mods="place">Ряд АА Место 15</div>
                    <div elem="list-item-container" mods="room">Большой зал</div>
                    <div elem="list-item-container" mods="price">1 100 ₽</div>
                    <div elem="list-item-container" mods="delete"><a href="#">
                        <icon name="close" tag="span">
                    </a></div>  
                </div>
                <div elem="items-row">
                    <div elem="list-item-container" mods="place">Ряд АА Место 15</div>
                    <div elem="list-item-container" mods="room">Большой зал</div>
                    <div elem="list-item-container" mods="price">1 200 ₽</div>
                    <div elem="list-item-container" mods="delete"><a href="#">
                        <icon name="close" tag="span">
                    </a></div>  
                </div>
            </div>
        </div>
        <div elem="list-item" mods="product">
            <div elem="coll" mods="l">
                <div elem="list-item-container" mods="title">Песни русской души. Самое лучшее сезона 2017-2018</div>
                <div elem="list-item-container">28 Ноября 2017, 18:00</div>
            </div>
            <div elem="coll" mods="r" mix="block:tickets">
                <div elem="items-row">                  
                    <div elem="list-item-container" mods="place">Ряд АА Место 15</div>
                    <div elem="list-item-container" mods="room">Малый зал</div>
                    <div elem="list-item-container" mods="price">1 100 ₽</div>
                    <div elem="list-item-container" mods="delete"><a href="#">
                        <icon name="close" tag="span">
                    </a></div>  
                </div>
                <div elem="items-row">
                    <div elem="list-item-container" mods="place">Ряд АА Место 15</div>
                    <div elem="list-item-container" mods="room">Малый зал</div>
                    <div elem="list-item-container" mods="price">1 100 ₽</div>
                    <div elem="list-item-container" mods="delete"><a href="#">
                        <icon name="close" tag="span">
                    </a></div>   
                </div>
            </div>
        </div>
    </div>
    <div elem="m-conteiner">
        <div elem="coupon">
            <div elem="coupon-title">Промо-код:</div>
            <div elem="coupon-label">
                <input type="text" value="000">
            </div>
            <button elem="coupon-btn">ОК</button>   
            <div elem="coupon-discount">Скидка: <span>200 ₽</span></div>
        </div>
        <div elem="total-price">Итоговая цена: <span>2 100 ₽</span></div>
    </div>
    <div elem="b-conteiner">
        <a href="#" elem="btn" mods="back">К мероприятию</a>
        <a href="#" elem="btn" mods="oreder">Оформление</a>
    </div>
</div>