input
    border 2px solid #f5f5f5
    border-radius 4px
    padding 0 20px
    background #fff
    height 50px
    font-size 12px
    font-weight 500
    color #808080
    &::placeholder
        color #808080

input[type="checkbox"]
    width 14px
    height 14px
    vertical-align middle
    margin-bottom 3px

.select2-container
    
    .select2-selection
        &--single
            height 50px

.b-checkbox
    width 20px
    height 20px
    display inline-block
    vertical-align middle
    margin-right 14px
    margin-bottom 3px
    position relative
    input
        cursor pointer
        width 20px
        height 20px
        position absolute
        left 0
        top 0
        bottom 0
        opacity 0
        z-index 1
        &:checked 
            + span
                border-color $colorAccent
                background $colorAccent
                svg
                    display block
                
    span    
        border 2px solid $colorAccent
        border-radius 4px
        display block
        width 20px
        height 20px
        color #fff
        svg
            width 10px
            height 9px
            display none
            position absolute
            left 50%
            top 50%
            margin-top -5px
            margin-left -5px

.c-p-block
    border-radius 6px
    background #fff
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
    margin-bottom 30px   
        
    &__list-item
        display flex 
        padding-left 30px        
        padding-right 30px    
        line-height 28px    
        &--titles
            padding-top 32px
            padding-bottom 26px
            border-bottom 2px solid #f5f5f5
            color #b3b3b3
            letter-spacing 1.25px
            font-weight 900
            text-transform uppercase
            font-size 12px
        &--product    
            padding-top 58px
            color #666
            padding-bottom 60px
            & ^[0]
                &__list-item-container
                    &--title
                        font-weight 500
            + 
                .c-p-block__list-item           
                    border-top 2px solid #f5f5f5

    &__coll
        display flex
        
    &__coll--l
        width 55%
        & ^[0]
            &__list-item-container
                width 45%   
                &--title     
                    width 55%
    &__coll--r
        width 45%
        &.tickets
            flex-direction column 
            
    &__items-row    
        display flex
        margin-bottom 60px
        position relative
        
        &:last-child
            margin-bottom 0
        
    &__list-item-container
        padding-right 20px
        &--place    
            width 43%
        &--room
            width 37%
        &--price
            width 15%  
            min-width 71px
            white-space nowrap
        &--delete    
            padding-right 0
            width 26px              
            text-align center
            a 
                color #d8d8d8
                &:hover
                    color $colorPrimary
        
    &__m-conteiner
        border-top 2px solid #f5f5f5
        padding 48px 9.1% 48px 50px
        display flex
        align-items center
        justify-content space-between   
        
    &__coupon
        display flex
        align-items center
        input
            padding 2px 18px 0
            height 50px
            border 2px solid #f5f5f5
            width 149px
            border-radius 4px 0 0 4px
            font-size 12px
            color #999999   
            font-weight 700
            
    &__coupon-title
        margin-right 18px
        color #666      
        font-weight 500
    
    &__coupon-label
        position relative
        span
            position absolute 
            left 18px
            top 100%
            margin-top 15px
            font-size 12px
            color #999
            font-weight 700

    &__coupon-btn
        width 76px
        height 50px
        color #b3b3b3
        font-size 12px
        text-transform uppercase
        font-weight 900
        background none
        border 2px solid #f5f5f5
        border-left 0   
        cursor pointer
        &:hover
            background rgba(#000, 0.02)
            
    &__coupon-discount
        margin-left 50px
        font-weight 500
        color #666
        span 
            color #000
            font-size 14px
            font-weight 400
            margin-left 23px
            
    &__total-price
        font-size 15px
        color #666
        span 
            margin-left 25px
            font-size 20px
            font-weight 900
    
    &__t-conteiner
        border-bottom 2px solid #f0f0f0
        display flex
        justify-content center
        padding 31px 20px 0
        
    &__payment-item
        margin 0 2.3%
        cursor pointer
        position relative
        padding-bottom 31px
        &:after
            display none
            content ""
            position absolute
            left 0
            bottom -2px
            right 0
            height 2px
            background $colorAccent
        
        &.is-active
            &:after
                display block    

    &__b-conteiner
        border-top 2px solid #f5f5f5
        padding 50px 20px
        display flex
        align-items center
        justify-content center
        
    &__btn
        text-decoration none
        font-size 12px
        letter-spacing 1.5px
        text-transform uppercase
        font-weight 900
        padding-top 17px
        padding-bottom 15px
        min-height 50px
        position relative
        &--back
            border 2px solid #f5f5f5
            border-radius 4px
            color #b6b6b6
            padding-right 30px
            padding-left 56px
            margin-right 15px
            &:hover
                color #b6b6b6
                background rgba(#000, 0.025)
            &:before 
                content ""
                position absolute
                left 25px
                top 50%
                width 14px
                height 14px
                margin-top -7px
                background url(../img/left-arr-grey.png) center center no-repeat
                opacity 0.4
        &--oreder
            padding-left 33px
            padding-right 52px
            color #fff
            background $colorAccent
            border-radius 4px
            margin-left 15px
            border 0
            cursor pointer
            &:hover
                color #fff
                background lighten($colorAccent, 10%)
            &:active
                color #fff
                background darken($colorAccent, 8%)
                box-shadow inset 0 1px 2px rgba(0,0,0,0.3)
            &:after
                content ""
                position absolute
                right 22px
                top 50%
                width 14px
                height 14px
                margin-top -7px
                background url(../img/right-arrow-light.png) center center no-repeat
        &.btn2        
            background $colorAccent   
            color #fff
            margin 0
            padding-left 40px
            padding-right 40px
            border 0
            &:before
                display none
            &:hover
                background lighten($colorAccent, 10%)
            &:active
                background darken($colorAccent, 8%)
                box-shadow inset 0 1px 2px rgba(0,0,0,0.3)

    &.payment
        & ^[0]
            &__form-content
                margin-bottom 0
                    
    &__form-container        
        max-width 660px
        margin-left auto
        margin-right auto
        padding 90px 20px
        font-size 12px
        color #666
        font-weight 500
        
    &__form-card
        display none
        
        &.is-active
            display flex
        
    &__form-content        
        border-radius 10px
        box-shadow 0 10px 30px rgba(0, 0, 0, 0.03)
        border 2px solid #f5f5f5
        background #fff
        padding 30px 30px 5px
        margin-bottom 35px
        display flex
        flex-wrap wrap
        justify-content space-between

    &__form-field
        width 47.5%
        &:nth-child(2n)
            padding-right 0    
        input
            width 100%           
            font-weight 900
            padding-top 2px
            appearance none
            
    &__form-field
        margin-bottom 35px
        &--e-mail
            width 100%
            padding-right 0
            position relative
            input
                padding-left 43px
                background url(../img/mail-ico.png) 13px 15px no-repeat
                
        select    
            width 100%
            height 50px
            border 2px solid #f5f5f5
            border-radius 4px
            padding 0 18px
            font-size 12px
            text-transform uppercase
            font-weight 700
            color #808080
            
        &.type-3        
            width 30.1%
            padding 0        
            display flex
            justify-content flex-end
            flex-direction column
            
    &__form-field-title
        margin-bottom 17px
        padding-left 7px
        
    &__checkbox-filed
        text-align center
        a         
            color #808080
    
    &__order-done-icon
        width 60px
        height 60px
        background $colorAccent url(../img/cart-steps-ico.png) -112px -20px no-repeat
        border-radius 100px
        margin-bottom 60px
        
    &--order-done
        & ^[0]
            &__container
                padding 90px 20px
                display flex
                flex-direction column
                align-items center
                
    &__text-container
        text-align center
        color #999
        line-height 30px
        max-width 380px
    &__text-title    
        font-size 18px
        color #666
        font-weight 500
        margin-bottom 35px

    @media (max-width 1100px) 
        &__m-conteiner
            padding-right 50px
    
    @media (max-width 940px) 
        
        &__coll--l
            width 53%
        &__coll--r
            width 47%

        &__m-conteiner
            padding 31px 30px
            
        &__coupon-label   
            span 
                margin-top 6px

        &__coupon-discount
            margin-left 20px
            span
                margin-left 10px

    @media (max-width 840px) 
        &__list-item
            &--titles
                display none
                
            &--product    
                display block
                padding-top 28px
                padding-bottom 30px
                
        &__coll--l                
            width 100%
            margin-bottom 30px
            & ^[0]
                &__list-item-container
                    text-align right
                    padding-right 0
                    &--title
                        padding-right 20px
                        text-align left
                                               
        &__coll--r
            width auto
            & ^[0]
                &__list-item-container
                    &--place
                        width 36%
                    &--room    
                        width 30%
                    &--price
                        width 20%                  
                        
        &__items-row
            margin-bottom 20px
            justify-content space-between
    
        &__list-item-container
            &--delete    
                width 17px                  
    
    @media (max-width 780px) 

        &__m-conteiner    
            display block
            text-align right
        &__coupon
            display none           

        &__form-container        
            padding-top 30px
            padding-bottom 30px
            max-width 100%
        
        &--order-done 
            & ^[0]
                &__container
                    padding-top 30px
                    padding-bottom 30px
        &__order-done-icon
            margin-bottom 25px
        &__text-title
            margin-bottom 25px

    @media (max-width 730px) 
        &__list-item
            &--product
                padding 15px 15px 18px 15px
        &__m-conteiner
            padding-right 15px
            
    @media (max-width 640px) 

        &__form-field                    
            width 100%
            margin-bottom 20px
            padding-right 0
            &:nth-child(2n)
                padding-left 0
        &__form-content
            padding-left 20px
            padding-right 20px
            
        &__form-field-title
            margin-bottom 8px

    @media (max-width 500px) 
        &__coll--l           
            display block
            margin-bottom 15px
            & ^[0]
                &__list-item-container                    
                    padding-right 0
                    width auto
                    text-align left
                    &--title
                        width auto
        &__coll--r
            &.tickets
                display block
            & ^[0]            
                &__items-row        
                    display block
                    
                &__list-item-container    
                    padding-right 55px
                    width auto
                    &--delete
                        position absolute
                        top 50%                    
                        margin-top -11px
                        right 0
                        padding-right 0
        
        &__items-row
            font-size 11px
            line-height 22px

        &__list-item
            &--product
                padding-right 23px

        &__m-conteiner    
            padding 20px
        
        &__total-price
            text-align center

        &__b-conteiner            
            display block
            padding-top 30px
            padding-bottom 30px
        &__btn
            display block
            width 100%
            margin 0
            text-align center
            &--back
                padding-left 20px
                padding-right 20px
                margin-bottom 20px
                &:before
                    position relative
                    display inline-block
                    left auto
                    top auto
                    margin 0 20px -2px 0
            &--oreder
                padding-left 20px
                padding-right 20px
                &:after
                    position relative
                    display inline-block
                    right auto
                    top auto
                    margin 0 0 -2px 20px 
                    
    @media (max-width 420px) 
        &__form-field
            &.type-3
                width 100%
            