.baner 
    margin 60px 0 40px
    
    @media only screen and (max-width: 730px)
        margin 0 -10px 40px

    &__items 
        display flex
        overflow hidden
        height 330px
        
        .owl-nav .owl-prev,
        .owl-nav .owl-next
            position absolute
            top 50%
            transform translateY(-50%)
            height 60px
            width 60px
            background-color rgba(#000, .3)
            z-index 40
            border-radius 60px
            z-index 50
            display flex
            justify-content center
            align-items center
            
            @media only screen and (max-width: 730px)
                display none
            
            &:before
                content ''
                display block
                height 26px
                width 26px
                background url(../img/main-slider-arr.png) center center no-repeat

            &:hover 
                background-color rgba(#000, .8)
            
        .owl-prev
            left 65px
            
        .owl-next
            right 65px
            
            &:before
                transform rotate(180deg)
                

        .owl-dots 
            position absolute
            left 0
            right 0
            bottom 60px
            display flex
            align-items center
            justify-content center
            
            .owl-dot
                margin 0 14px
                
                span 
                    display block
                    width 69px
                    height 2px
                    background-color #e6e6e6
                    opacity 0.3
                    
                &.active
                    span
                        opacity 0.7

    &__item 
        display block
        flex 0 0 100%
        max-width 100%
        width 100%
        height 330px
        border-radius 6px
        display flex
        flex-direction column
        align-items center 
        color #fff
        padding-top 60px
        font-size 36px
        font-weight 300
        line-height 90px
        text-decoration none
        background-image linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%)
        transform translateZ(0)
        
        @media only screen and (max-width: 730px)
            border-radius 0
        
        &:hover
            text-decoration none 
            color #fff

    &__data 
        font-size 14px
        font-weight 500
        line-height 30px
        opacity 0.5
        
        @media only screen and (max-width: 730px)
            opacity 1
        
    &__header 
        margin-bottom 30px
        
        @media only screen and (max-width: 730px)
            font-size 24px
            font-weight 300