<div block="baner">
    <div elem="items" class="_js_main-slider">
        <a href="#" elem="item" data-section-bg="img/main-slider-pic1.png">
            <span elem="header">Дирижеры. Высшая лига</span><!-- e:header -->
            <span elem="data">18 Ноября 2017</span><!-- e:data -->
        </a><!-- e:item -->

        <a href="#" elem="item" data-section-bg="img/main-slider-pic1.png">
            <span elem="header">Дирижеры. Высшая лига</span><!-- e:header -->
            <span elem="data">18 Ноября 2017</span><!-- e:data -->
        </a><!-- e:item -->

        <a href="#" elem="item" data-section-bg="img/main-slider-pic1.png">
            <span elem="header">Дирижеры. Высшая лига</span><!-- e:header -->
            <span elem="data">18 Ноября 2017</span><!-- e:data -->
        </a><!-- e:item -->
    </div><!-- e:items -->
</div><!-- b:baner -->