<div block="b-tabs" mods="afisha-tabs">
    <div elem="list">
        <a elem="list-item" class="is-active _js-tabs-title" href="#" data-tab-index="0">Полное описание</a>
        <a elem="list-item" href="#" class="_js-tabs-title" data-tab-index="1">Прослушать</a>
        <a elem="list-item" href="#" class="_js-tabs-title" data-tab-index="2">Посмотреть</a>
        <a elem="list-item" href="#" class="_js-tabs-title" data-tab-index="3">О бронировании</a>
    </div>
    <div elem="container">
        <div elem="content" class="is-active _js-tabs-body" data-tab-index="0">
            <p>С появлением Яна Сибелиуса  музыка Финляндии обрела голос, слышный во всем мире. Созданный им глубоко индивидуальный и своеобразный стиль письма претворяет ритмы и интонации финской народной музыки, образы могучей природы «страны тысячи озер».</p>

            <p>Концерт для скрипки с оркестром, по словам известного дирижера Леопольда  Стоковского, единственный инструментальный концерт в наследии Сибелиуса, представляет «одну из лучших симфоний композитора». Это, бесспорно, самое популярное произведение финского гения.</p>

            <p>"Симфонические танцы" Рахманинова. Первоначальное название сочинения — Фантастические танцы. В этом последнем оркестровом произведении великого композитора явно заложены элементы автобиографичности. «Симфонические танцы» — это условное название, скорее, вуалирующее, нежели раскрывающее их содержание. На самом деле, они оказываются сочинением на религиозную тему,   своеобразным духовным завещанием Рахманинова, зашифрованным в музыкальных образах без привлечения слова.</p>
        </div>
        <div elem="content" class="_js-tabs-body" data-tab-index="1">
            <p>С появлением Яна Сибелиуса  музыка Финляндии обрела голос, слышный во всем мире. Созданный им глубоко индивидуальный и своеобразный стиль письма претворяет ритмы и интонации финской народной музыки, образы могучей природы «страны тысячи озер».</p>

            <p>Концерт для скрипки с оркестром, по словам известного дирижера Леопольда  Стоковского, единственный инструментальный концерт в наследии Сибелиуса, представляет «одну из лучших симфоний композитора». Это, бесспорно, самое популярное произведение финского гения.</p>
        </div>
        <div elem="content" class="_js-tabs-body" data-tab-index="2">
            <div class="adaptive-video-iframe">
                <iframe width="677" src="https://www.youtube.com/embed/mxD7QEt85ms" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div elem="content" class="_js-tabs-body" data-tab-index="3">
            <p>С появлением Яна Сибелиуса  музыка Финляндии обрела голос, слышный во всем мире. Созданный им глубоко индивидуальный и своеобразный стиль письма претворяет ритмы и интонации финской народной музыки, образы могучей природы «страны тысячи озер».</p>

            <p>Концерт для скрипки с оркестром, по словам известного дирижера Леопольда  Стоковского, единственный инструментальный концерт в наследии Сибелиуса, представляет «одну из лучших симфоний композитора». Это, бесспорно, самое популярное произведение финского гения.</p>

            <p>"Симфонические танцы" Рахманинова. Первоначальное название сочинения — Фантастические танцы. В этом последнем оркестровом произведении великого композитора явно заложены элементы автобиографичности. «Симфонические танцы» — это условное название, скорее, вуалирующее, нежели раскрывающее их содержание. На самом деле, они оказываются сочинением на религиозную тему,   своеобразным духовным завещанием Рахманинова, зашифрованным в музыкальных образах без привлечения слова.</p>

            <p>"Симфонические танцы" Рахманинова. Первоначальное название сочинения — Фантастические танцы. В этом последнем оркестровом произведении великого композитора явно заложены элементы автобиографичности. «Симфонические танцы» — это условное название, скорее, вуалирующее, нежели раскрывающее их содержание. На самом деле, они оказываются сочинением на религиозную тему,   своеобразным духовным завещанием Рахманинова, зашифрованным в музыкальных образах без привлечения слова.</p>
        </div>
    </div>
</div>