.b-tabs
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
    border-radius 6px
    background-color #fff
    margin-bottom 30px
    &__list
        width 100%
        max-width 750px
        margin-left auto
        margin-right auto
        display flex
        justify-content center
        @media only screen and (max-width: 730px)
            display block
    &__list-item
        font-size 13px
        text-transform uppercase
        text-align center
        font-weight 500
        color #7c7c7c
        text-decoration none
        position relative
        padding 26px 18px 22px
        min-height 88px
        margin-left 19px
        margin-right 19px
        min-width 140px
        display flex
        align-items center
        justify-content center
        @media only screen and (max-width: 730px)
            display block
            min-height 0
            border-bottom 2px solid #d8d8d8
        &:hover,
        &.is-active
            color #1875f0
            text-decoration none
        &.is-active
            font-weight 900
            @media only screen and (max-width: 730px)
                color #fff
                border-botom-color $colorAccent
                background-color $colorAccent
            &:after
                content ""
                position absolute
                left 0
                right 0
                bottom -2px
                height 2px
                background-color #1875f0
                @media only screen and (max-width: 730px)
                    display none
    &__container
        padding 59px 30px 40px 30px
        line-height 30px
        border-top 2px solid #f5f5f5
    &__content
        display none
        max-width 675px
        margin-left auto
        margin-right auto
        &.is-active
            display block
    
    @media (max-width 940px) 
        &__container
            padding-top 40px
            padding-bottom 30px
    
    @media (max-width 880px) 
        &__list
            max-width 100%
            justify-content space-between
        &__list-item
            margin 0
            
        &__content
            max-width 100%
                    
    @media (max-width 640px) 
        &__list
            flex-wrap wrap
                
    @media (max-width 430px)            
        &--afisha-tabs
            display none
            
