<div block="price-list" class="places__price">

	<div elem="header">Стоимость мест, ₽:</div><!-- e:header -->

	<div elem="items">
		<div elem="item" mods="a">500+</div><!-- e:item -->
		<div elem="item" mods="b">600+</div><!-- e:item -->
		<div elem="item" mods="c">700+</div><!-- e:item -->
		<div elem="item" mods="d">800+</div><!-- e:item -->
		<div elem="item" mods="e">1300+</div><!-- e:item -->
	</div><!-- e:items -->	
</div><!-- e:footnote -->	