.price-list
    font-weight 500
    font-size 12px
    user-select none
    pointer-events none
    
    &__header 
        text-align center
        margin-bottom 6px

    &__items
        display flex
        justify-content center
        margin-left -3px
        
    &__item 
        height 25px
        line-height 25px
        padding 0 14px
        position relative
        margin-left 3px
        
        &:before
            content ''
            position absolute
            bottom 0
            left 0
            right 0
            height 3px
            
        &--a
            &:before
                background-color #61c2e1
        
        &--b
            &:before
                background-color #b1d164
                
        &--c
            &:before
                background-color #fda92a
                
        &--d
            &:before
                background-color #fc5a5d
                
        &--e
            &:before
                background-color #bd6eb8
                