.socials
    &__items 
        display flex
        align-items center
        justify-content center
        flex 1
        
    &__item 
        height 40px
        width 40px
        border 2px solid #f5f5f5
        display flex
        justify-content center
        align-items center
        margin 8px
        border-radius 40px
        
        @media only screen and (max-width: 1024px)
            height 30px
            width 30px
            border-radius 30px
            
            img 
                height 50%
                
            img[src*="social-icon1.png"]
                width 64%
                height auto

        &:hover 
            background-color #f5f5f5