<div block="socials" class="{{ socials_mix_class }}">
    <div elem="items">
        {% for icon in socials %}
            <a href="#" target="_blank" elem="item">
                <img src="{{ icon }}" alt="">
            </a><!-- e:item -->
        {% endfor %}
    </div><!-- e:items -->
</div><!-- b:socials -->