<div block="share">
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js" async="async"></script>
    <div elem="title">Поделиться:</div><!-- e:title -->
    <div class="ya-share2" data-services="facebook,twitter" data-counter></div>
</div><!-- b:share -->