.share
    color #b3b3b3
    display flex
    margin-left auto
    
    @media only screen and (max-width: 1024px)
        display none

    .ya-share2
        position relative
        top -2px
        background none
        
    .ya-share2__counter
        display inline-block
        width 31px
        height 26px
        
        
        box-shadow 0 0 0 2px #f5f5f5
        background-color #fff

    .ya-share2__container_size_m
        .ya-share2__item
            margin 0
            text-align center
            cursor pointer
            font-family : $fonts.base
                
        .ya-share2__link
            margin 0 25px 0 0
            
        .ya-share2__badge
            background none
            padding 2px
            
        .ya-share2__counter
            color #b3b3b3
            border none
            font-size 14px
            border-radius 3px
            padding-left 0
            padding-right 0
            font-weight bold
            margin-left 17px
            line-height 26px
            position relative
            font-family : $fonts.base
            
            &:before
                content '' 
                position absolute
                right 100%
                top 50%
                left auto
                bottom auto
                height 5px
                width 5px
                margin -3px -1px 0 0 
                background #fff 
                transform rotate(-45deg)
        
        .ya-share2__icon
            box-shadow none
            margin-top 1px
        
    .ya-share2__item_service_twitter
        .ya-share2__icon
            background url(../img/share-twitter.png) center center no-repeat

    .ya-share2__item_service_facebook
        .ya-share2__icon
            background url(../img/share-facebook.png) center center no-repeat
            
    &__title 
        margin-right 22px
        font-weight 500
        padding-top 3px
        font-size 13px