<div block="place-infowindow">
    <div elem="header">Партер</div><!-- e:header -->
    <div elem="body">
        <p>600 - 2800 ₽</p>
        <p>Свободных мест: 217</p>
    </div><!-- e:body -->
    <div elem="footer">
        <div elem="place">
            <div elem="place-icon"></div><!-- e:place-icon -->
            <div elem="place-name">колона</div><!-- e:place-name -->
        </div><!-- e:place -->
    </div><!-- e:footer -->
</div><!-- b:place-infowindow --> 