.place-infowindow 
    position absolute
    left 100%
    top 43px
    margin-left 13px
    background #fff
    box-shadow 0 2px 5px rgba(0,0,0,0.05)
    border-radius 6px
    text-transform none
    width 164px
    font-weight 400
    font-size 12px
    line-height 18px
    color #8c8c8c
    display none
    
    &:before 
        content ''
        position absolute 
        right 100%
        top 20px
        height 19px
        width 19px
        background #fff
        transform rotate(-45deg)
        margin-right -13px
        
        filter drop-shadow(-2px -2px 1px rgba(0,0,0,.015))
    
    &__header 
        font-weight 500
        padding 16px 0 0
        color #333
        margin-bottom 11px
        
    &__body 
        padding-bottom 8px
        
        p 
            margin 0
            
        p + p 
            margin-top 2px
            
    &__footer
        padding 10px 0 8px
        border-top 1px solid #eeeded
        
    &__place
        display flex
        align-items center 
        justify-content center
        

    &__place-icon
        height 10px
        width 35px
        border-radius 6px
        background-color $colorPrimary
        margin-right 13px
        

    &__place-name 
        color #333
        
        display flex
        align-items center
        justify-content center
        
        &:before
            content ''
            display block
            height 1px 
            width 6px
            background-color #333
            margin-right 5px
        