.grid-blocks
    display flex
    flex-wrap wrap
    margin-top 40px
    margin-bottom 42px
    background-color #fff
    box-shadow 0 2px 5px rgba(0, 0, 0, .05)
    border-radius 6px
    position relative
    
    @media only screen and (max-width: 980px)
        overflow hidden
    
    &:before
        @media only screen and (max-width: 980px)
            content ''
            position absolute
            left 0
            right 0
            bottom 0
            height 2px
            background-color #fff 
    
    &__item 
        position relative
        display flex
        flex 0 0 33.33%
        max-width 33.33%
        width 33.33%
        padding 23px 0 28px 0
        font-weight 500
        border 2px solid #f7f7f7
        border-top none
        border-left none
        text-decoration none
        
        @media only screen and (max-width: 980px)
            flex-direction column
            padding 23px 30px 28px

        @media only screen and (max-width: 730px)
            flex 0 0 50%
            max-width 50%
            width 50%
            padding 25px 10px 7px
            border none !important
            border-right 2px solid #f7f7f7 !important
            border-bottom 2px solid #f7f7f7 !important


        &:hover
            text-decoration none
            
            .grid-blocks__image
                opacity 1
                
                @media only screen and (max-width: 980px)
                    opacity 0

            .grid-blocks__title,
            .grid-blocks__date,
            .grid-blocks__time
                color #fff
                
            .grid-blocks__title
                @media only screen and (max-width: 980px)
                    color #666
                    
            .grid-blocks__date
                @media only screen and (max-width: 980px)
                    color #b3b3b3
                    
            .grid-blocks__time
                @media only screen and (max-width: 980px)
                    color #b3b3b3
            
        &:nth-child(3n) 
            border-right none
            
    &__image
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        opacity 0
        
        transition opacity .3s
        
        &:before
            content ''
            position absolute
            left 0
            top 0
            bottom 0
            right 0
            background linear-gradient(180deg, rgba(17, 95, 17, 0) 0%, rgba(4, 47, 0, 0.5) 100%);

    &__date 
        display block
        position relative
        color #b3b3b3
        flex 0 0 102px
        max-width 102px
        width 102px
        padding-left 14px
        text-align center
        
        @media only screen and (max-width: 980px)
            text-align left
            padding-left 0
            flex none
            max-width 100%
            width 100%
            display flex
            align-items flex-end
            
    &__day-short
        display block
        font-size 40px
        font-weight 300
        line-height 60px
        
    &__day-detail
        display block
        font-size 10px
        line-height 12px
        
        @media only screen and (max-width: 980px)
            text-align right
            flex 1
            margin-bottom 13px
            
            br 
                display none
        
    &__body
        position relative
        display block
        line-height 30px
        flex 1
        padding 5px 20px 0 0
        
        @media only screen and (max-width: 980px)
            padding 0
            display flex
            flex-direction column
        
    &__title
        font-size 16px
        color #666
        display block
        min-height 78px 

        @media only screen and (max-width: 980px)
            min-height 0
            margin-bottom 10px
            
        @media only screen and (max-width: 730px)
            margin-bottom 0

    &__time 
        font-size 12px
        color #b3b3b3
        display block
        
        &--mobile
            display none

            @media only screen and (max-width: 980px)
                display block
                margin-top auto
        
    &__item-icons
        display none
        align-items center
        color #b3b3b3
        font-weight 700
        font-size 12px
        
        @media only screen and (max-width: 980px)
            display flex
        
        img 
            margin-right 12px
            position relative
            top -1px
        
    &__counter
        margin-left 21px
        
