<div block="grid-blocks">
    {% for item in gridBlocks %}
        <a href="#" elem="item">
            <span elem="image" data-section-bg="{{ item.image }}"></span>
            <span elem="date">
                <span elem="day-short">{{ item.dayShort }}</span><!-- e:day-short -->
                <span elem="day-detail">{{ item.dayDetail }}</span><!-- e:day-detail -->
            </span><!-- e:date -->
            <span elem="body">
                <span elem="title">{{ item.title }}</span><!-- e:title -->
                <span elem="time">{{ item.time }}</span><!-- e:time -->

                <span elem="item-icons">
                    <span elem="views"><img src="img/views2.png" alt="">275</span> 
                    <span elem="counter"><img src="img/square2.png" alt="">12</span>
                </span>
            </span><!-- e:body -->
        </a><!-- e:item -->
    {% endfor %}
</div>