.scroll-top
    position fixed
    bottom 0
    width 60px
    height 60px
    border 2px solid #f5f5f5
    border-radius 500px
    background #fff url(../img/up_arrow.png) center 20px no-repeat 
    right 50%
    margin-right -670px 
    cursor pointer
    z-index 50
    opacity 0
    pointer-events none
    
    transition opacity .3s, bottom .3s
    transition-timing-function cubic-bezier(.17,.67,.35,1.46)

    &:hover
        background-color $colorPrimary
        background-position center -30px
    @media (max-width 1350px) 
        right 20px
        margin-right 0  
        
    @media (max-width 940px) 
        display none
        
    &.is-visible
        opacity 1
        pointer-events auto
        bottom 200px