{% if page404 == true %}
<div block="b-tags" mods="{{tagsMods}}">
	<a elem="item" href="#">404 ошибка</a>
</div>
{% endif %}
{% if afishaCard == true %}
<div block="b-tags" mods="{{tagsMods}}">
	<a elem="item" href="#">Концерт</a>
	<a elem="item" href="#">Классическая музыка</a>
	<span elem="item" mods="counter">6+</span>
</div>
{% endif %}