.b-tags
	display flex
	flex-wrap flex-wrap
	justify-content center
	&__item
		padding 8px 22px
		text-align center
		color #b3b3b3
		letter-spacing 1.25px
		font-size 10px
		font-weight 900
		text-transform uppercase
		text-decoration none
		background #f7f7f7 
		border-radius 4px
		margin-left 7px
		margin-right 7px
		display flex
		align-items center
		&:hover
			color #b3b3b3
			text-decoration none
	&--type-2	
		& ^[0]	
			&__item
				
				background #d8d8d8
				color #fff
				font-size 12px
				padding-top 7px
				padding-bottom 5px
				&:hover
					background darken(#d8d8d8, 8%)
				&--counter
					padding 4px 0
					margin-left 20px
					margin-right 0
					background none
					color #d8d8d8		
					font-size 14px	
					&:hover
						background none
	@media (max-width 790px) 
		&--type-2
			justify-content flex-start
			& ^[0]
				&__item
					margin 0 15px 0 0
	