.pagination
	background #fff
	border-radius 6px
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
	height 60px
	font-weight 900
	display flex
	margin-bottom 100px
	&__prev,
	&__next
		width 100%
		max-width 253px
		text-transform uppercase
		color #b3b3b3
		font-size 12px
		font-weight 500
		text-decoration none
		text-align center
		padding-top 22px
		padding-bottom 18px		
		&:hover
			color #fff
			background $colorPrimary
			& ^[0]
				&__arrow
					background-position center -50px
	&__arrow
		position relative
		top -1px
		width 16px
		height 16px
		background url(../img/arrow_right.png) center 0 no-repeat
		display inline-block
		vertical-align middle
		
	&__prev
		border-right 2px solid #f5f5f5
		border-radius 5px 0 0 5px
		& ^[0]
			&__arrow
				transform rotate( 180deg) 
				margin-right 22px
	&__next
		border-left 2px solid #f5f5f5
		border-radius 0 5px 5px 0
		& ^[0]
			&__arrow				
				margin-left 22px		
				
	&__contaier
		flex 1				
		display flex
		align-items center
		justify-content center
	&__item	
		color #666
		text-decoration none
		margin 0 9px
		@media only screen and (max-width: 730px)
			display none

		&:hover,
		&.is-active
			color #f74236
			
			@media only screen and (max-width: 730px)
				display flex
			
		&:last-child
			@media only screen and (max-width: 730px)
				display flex
			
	&__dots
		margin 0 9px
		color #777777

	&--afisha-card
		display none

	@media (max-width 940px) 
		margin-bottom 78px
		&__prev,
		&__next
			max-width 185px
	
	@media (max-width 640px) 
		&__prev,
		&__next
			font-size 0
			max-width 60px			
			padding-top 22px
			& ^[0]
				&__arrow
					margin 0
		
	@media (max-width 430px) 
		&--afisha-card
			display flex
	
	@media (max-width 379px) 
		&__item
			margin 0 4px
		
		
			