<div block="pagination" mods="{{paginationMods}}">
	<a elem="prev" href="#"><span elem="arrow"></span>Предыдущая</a>
	<div elem="contaier">
		<a href="#" elem="item">1</a>
		<a href="#" elem="item" class="is-active">2</a>
		<a href="#" elem="item">3</a>
		<a href="#" elem="item">4</a>
		<span elem="dots">...</span>
		<a href="#" elem="item">17</a>
		<a href="#" elem="item">18</a>
	</div>
	<a elem="next" href="#">Следующая<span elem="arrow"></span></a>
</div>