html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

.app
    
    display flex
    flex-direction column
    left 0
    width 100%
    height 100%
    min-height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        min-height 100vh
        
        @media only screen and (max-width: 730px)
            padding-top 104px

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1

    &__aside
        
        &--left
            order -1
            flex : 0 0 300px
            
        &--right
            flex : 0 0 300px
            
    &--page-404
        & ^[0]
            &__main
                display flex
                align-items center
                padding-top 80px
                padding-bottom 80px
        
            
