<form action="#" class="{{ search_mix_class }}" block="search">
    <input type="text" elem="input" placeholder="Поиск по названию концерта">

    <button type="submit" elem="select">
        <div elem="select-text-holder">
            <div elem="select-text">Найти</div><!-- e:select-text -->
            <div elem="select-arr"><icon name="arrow_icon" tag="span"></icon></div><!-- e:select-arr -->
        </div><!-- e:select-text-holder -->
    </button><!-- e:select -->
</form><!-- e:search -->