.search
    display flex
    
    &__input 
        flex 1 
        border none
        background transparent
        font-weight 500
        
        line-height 30px
        
        &::placeholder 
            color #ccc

    &__select
        appearance none
        border none
        background none
        padding 0 18px
        border-radius 3px
        height 40px
        margin-top 5px
        background $colorPrimary
        
        &:hover
            opacity .9

    &__select-text-holder
        display flex
        align-items center
        color #fff
        line-height 40px
        letter-spacing 1.25px
        text-transform uppercase
        font-size 10px
        font-weight 900
        cursor pointer

    &__select-arr 
        position relative
        top -1px
        width 8px
        height 5px
        margin-left 9px

        .svg-icon 
            width 8px
            height 5px
            fill #fff
            transform rotate(-90deg)
            