= yaml =
pageTitle: Оплата Билетов
bodyMods: cart
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% extends '_layout.html' %}

{% block main %}
	<h1 class="cart-title">{{pageTitle}}</h1>
	
	{% set activeStep1 = false %}
	{% set activeStep2 = true %}
	{% set activeStep3 = false %}
	{% set activeStep4 = false %}

	{% set doneStep1 = true %}
	{% set doneStep2 = false %}
	{% set doneStep3 = false %}
	{% set doneStep4 = false %}

	{% include 'cart-steps.html' %}

	<form block="c-p-block" mods="form">
		<div elem="form-container">
			<div elem="form-content">
				<div elem="form-field">
					<div elem="form-field-title">Введите имя</div>
					<input type="text" placeholder="Введите имя">
				</div>
				<div elem="form-field">
					<div elem="form-field-title">Ваша фамилия</div>
					<input type="text" placeholder="Введите фамилию">
				</div>
				<div elem="form-field" mods="e-mail">
					<div elem="form-field-title">Ваш электронный адрес</div>
					<input type="text" placeholder="Введите почту">
				</div>
			</div>
			<div elem="checkbox-filed">
				<span class="b-checkbox">
					<input type="checkbox" id="iagree">
					<icon name="done_icon" tag="span">
				</span> 
				<label for="iagree">Согласен на обработку</label> <a href="#" target="_blank">персональных данных</a>
			</div>
		</div>
		<div elem="b-conteiner">
			<a href="#" elem="btn" mods="back">Корзина</a>
			<button elem="btn" mods="oreder">Оплата</button>
		</div>
	</form>

	{% include 'icons-block.html' %}
	
	{% set footerPayIco = true %}

{% endblock %}