= yaml =
pageTitle: Выбор мест
bodyMods: places places_small
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : 

afishaVideo: true
= yaml =

{% extends '_layout.html' %}

{% block main %}


{% include "crumbs.html" %}

<div block="places" mods="small-hall">
	<div elem="header" data-section-bg="img/places-banner.png">
		<img src="img/places-banner.png" alt="">
		<div elem="haeder-text">Дирижеры высшая лига Антон Шабуров: 21 апреля, 18:00</div><!-- e:haeder-text -->
	</div><!-- e:headline -->
    <div elem="main">
        <div elem="layout" mods="viewbox">
            <div elem="name">Малый зал</div><!-- e:name -->
            <div elem="content">
                <div elem="note">Карта зала: клик/тап по карте, чтобы приблизить зону</div><!-- e:note -->

                <div elem="body">
                    <div elem="sections" mods="small-hall">
                        <div elem="section" mods="scene">
                            <div elem="section-name">Сцена</div><!-- e:section-name -->
                        </div><!-- e:scene -->

                        <div elem="section">
                            <div elem="preview-place" mods="small-hall" class="_js-preview-place">
                                <svg class="_js-preview-image" version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 308.8 163.7" style="enable-background:new 0 0 308.8 163.7;" xml:space="preserve">
                                <style type="text/css">
                                    .smt0{fill:#c7c7c7;}
                                    .smt1{fill:#383838;}
                                </style>
                                <title>Ресурс 4</title>
                                <g id="halls">
                                    <g id="small_hall">
                                        <g id="parter_rows">
                                            <g id="row_11">
                                                <circle id="_14" class="smt0" cx="243.1" cy="153.8" r="5"/>
                                                <circle id="_13" class="smt0" cx="229.5" cy="153.8" r="5"/>
                                                <circle id="_12" class="smt0" cx="215.9" cy="153.8" r="5"/>
                                                <circle id="_11" class="smt0" cx="202.2" cy="153.8" r="5"/>
                                                <circle id="_10" class="smt0" cx="188.6" cy="153.8" r="5"/>
                                                <circle id="_9" class="smt0" cx="174.9" cy="153.8" r="5"/>
                                                <circle id="_8" class="smt0" cx="161.3" cy="153.8" r="5"/>
                                                <circle id="_7" class="smt0" cx="147.6" cy="153.8" r="5"/>
                                                <circle id="_6" class="smt0" cx="134" cy="153.8" r="5"/>
                                                <circle id="_5" class="smt0" cx="120.4" cy="153.8" r="5"/>
                                                <circle id="_4" class="smt0" cx="106.7" cy="153.8" r="5"/>
                                                <circle id="_3" class="smt0" cx="93.1" cy="153.8" r="5"/>
                                                <circle id="_2" class="smt0" cx="79.4" cy="153.8" r="5"/>
                                                <circle id="_1" class="smt0" cx="65.8" cy="153.8" r="5"/>
                                            </g>
                                            <g id="row_10">
                                                <circle id="_16" class="smt0" cx="256.8" cy="139.4" r="5"/>
                                                <circle id="_15" class="smt0" cx="243.1" cy="139.4" r="5"/>
                                                <circle id="_14-2" class="smt0" cx="229.5" cy="139.4" r="5"/>
                                                <circle id="_13-2" class="smt0" cx="215.9" cy="139.4" r="5"/>
                                                <circle id="_12-2" class="smt0" cx="202.2" cy="139.4" r="5"/>
                                                <circle id="_11-2" class="smt0" cx="188.6" cy="139.4" r="5"/>
                                                <circle id="_10-2" class="smt0" cx="174.9" cy="139.4" r="5"/>
                                                <circle id="_9-2" class="smt0" cx="161.3" cy="139.4" r="5"/>
                                                <circle id="_8-2" class="smt0" cx="147.6" cy="139.4" r="5"/>
                                                <circle id="_7-2" class="smt0" cx="134" cy="139.4" r="5"/>
                                                <circle id="_6-2" class="smt0" cx="120.4" cy="139.4" r="5"/>
                                                <circle id="_5-2" class="smt0" cx="106.7" cy="139.4" r="5"/>
                                                <circle id="_4-2" class="smt0" cx="93.1" cy="139.4" r="5"/>
                                                <circle id="_3-2" class="smt0" cx="79.4" cy="139.4" r="5"/>
                                                <circle id="_2-2" class="smt0" cx="65.8" cy="139.4" r="5"/>
                                                <circle id="_1-2" class="smt0" cx="52.2" cy="139.4" r="5"/>
                                            </g>
                                            <g id="row_9">
                                                <circle id="_18" class="smt0" cx="270.4" cy="125" r="5"/>
                                                <circle id="_17" class="smt0" cx="256.8" cy="125" r="5"/>
                                                <circle id="_16-2" class="smt0" cx="243.1" cy="125" r="5"/>
                                                <circle id="_15-2" class="smt0" cx="229.5" cy="125" r="5"/>
                                                <circle id="_14-3" class="smt0" cx="215.9" cy="125" r="5"/>
                                                <circle id="_13-3" class="smt0" cx="202.2" cy="125" r="5"/>
                                                <circle id="_12-3" class="smt0" cx="188.6" cy="125" r="5"/>
                                                <circle id="_11-3" class="smt0" cx="174.9" cy="125" r="5"/>
                                                <circle id="_10-3" class="smt0" cx="161.3" cy="125" r="5"/>
                                                <circle id="_9-3" class="smt0" cx="147.6" cy="125" r="5"/>
                                                <circle id="_8-3" class="smt0" cx="134" cy="125" r="5"/>
                                                <circle id="_7-3" class="smt0" cx="120.4" cy="125" r="5"/>
                                                <circle id="_6-3" class="smt0" cx="106.7" cy="125" r="5"/>
                                                <circle id="_5-3" class="smt0" cx="93.1" cy="125" r="5"/>
                                                <circle id="_4-3" class="smt0" cx="79.4" cy="125" r="5"/>
                                                <circle id="_3-3" class="smt0" cx="65.8" cy="125" r="5"/>
                                                <circle id="_2-3" class="smt0" cx="52.2" cy="125" r="5"/>
                                                <circle id="_1-3" class="smt0" cx="38.5" cy="125" r="5"/>
                                            </g>
                                            <g id="row_8">
                                                <circle id="_20" class="smt0" cx="284" cy="110.6" r="5"/>
                                                <circle id="_19" class="smt0" cx="270.4" cy="110.6" r="5"/>
                                                <circle id="_18-2" class="smt0" cx="256.8" cy="110.6" r="5"/>
                                                <circle id="_17-2" class="smt0" cx="243.1" cy="110.6" r="5"/>
                                                <circle id="_16-3" class="smt0" cx="229.5" cy="110.6" r="5"/>
                                                <circle id="_15-3" class="smt0" cx="215.9" cy="110.6" r="5"/>
                                                <circle id="_14-4" class="smt0" cx="202.2" cy="110.6" r="5"/>
                                                <circle id="_13-4" class="smt0" cx="188.6" cy="110.6" r="5"/>
                                                <circle id="_12-4" class="smt0" cx="174.9" cy="110.6" r="5"/>
                                                <circle id="_11-4" class="smt0" cx="161.3" cy="110.6" r="5"/>
                                                <circle id="_10-4" class="smt0" cx="147.6" cy="110.6" r="5"/>
                                                <circle id="_9-4" class="smt0" cx="134" cy="110.6" r="5"/>
                                                <circle id="_8-4" class="smt0" cx="120.4" cy="110.6" r="5"/>
                                                <circle id="_7-4" class="smt0" cx="106.7" cy="110.6" r="5"/>
                                                <circle id="_6-4" class="smt0" cx="93.1" cy="110.6" r="5"/>
                                                <circle id="_5-4" class="smt0" cx="79.4" cy="110.6" r="5"/>
                                                <circle id="_4-4" class="smt0" cx="65.8" cy="110.6" r="5"/>
                                                <circle id="_3-4" class="smt0" cx="52.2" cy="110.6" r="5"/>
                                                <circle id="_2-4" class="smt0" cx="38.5" cy="110.6" r="5"/>
                                                <circle id="_1-4" class="smt0" cx="24.9" cy="110.6" r="5"/>
                                            </g>
                                            <g id="row_7">
                                                <circle id="_22" class="smt0" cx="297.7" cy="96.6" r="5"/>
                                                <circle id="_21" class="smt0" cx="284" cy="96.6" r="5"/>
                                                <circle id="_20-2" class="smt0" cx="270.4" cy="96.6" r="5"/>
                                                <circle id="_19-2" class="smt0" cx="256.8" cy="96.6" r="5"/>
                                                <circle id="_18-3" class="smt0" cx="243.1" cy="96.6" r="5"/>
                                                <circle id="_17-3" class="smt0" cx="229.5" cy="96.6" r="5"/>
                                                <circle id="_16-4" class="smt0" cx="215.9" cy="96.6" r="5"/>
                                                <circle id="_15-4" class="smt0" cx="202.2" cy="96.6" r="5"/>
                                                <circle id="_14-5" class="smt0" cx="188.6" cy="96.6" r="5"/>
                                                <circle id="_13-5" class="smt0" cx="174.9" cy="96.6" r="5"/>
                                                <circle id="_12-5" class="smt0" cx="161.3" cy="96.6" r="5"/>
                                                <circle id="_11-5" class="smt0" cx="147.6" cy="96.6" r="5"/>
                                                <circle id="_10-5" class="smt0" cx="134" cy="96.6" r="5"/>
                                                <circle id="_9-5" class="smt0" cx="120.4" cy="96.6" r="5"/>
                                                <circle id="_8-5" class="smt0" cx="106.7" cy="96.6" r="5"/>
                                                <circle id="_7-5" class="smt0" cx="93.1" cy="96.6" r="5"/>
                                                <circle id="_6-5" class="smt0" cx="79.4" cy="96.6" r="5"/>
                                                <circle id="_5-5" class="smt0" cx="65.8" cy="96.6" r="5"/>
                                                <circle id="_4-5" class="smt0" cx="52.2" cy="96.6" r="5"/>
                                                <circle id="_3-5" class="smt0" cx="38.5" cy="96.6" r="5"/>
                                                <circle id="_2-5" class="smt0" cx="24.9" cy="96.6" r="5"/>
                                                <circle id="_1-5" class="smt0" cx="11.3" cy="96.6" r="5"/>
                                            </g>
                                            <g id="row_6">
                                                <circle id="_22-2" class="smt0" cx="297.7" cy="82.3" r="5"/>
                                                <circle id="_21-2" class="smt0" cx="284" cy="82.3" r="5"/>
                                                <circle id="_20-3" class="smt0" cx="270.4" cy="82.3" r="5"/>
                                                <circle id="_19-3" class="smt0" cx="256.8" cy="82.3" r="5"/>
                                                <circle id="_18-4" class="smt0" cx="243.1" cy="82.3" r="5"/>
                                                <circle id="_17-4" class="smt0" cx="229.5" cy="82.3" r="5"/>
                                                <circle id="_16-5" class="smt0" cx="215.9" cy="82.3" r="5"/>
                                                <circle id="_15-5" class="smt0" cx="202.2" cy="82.3" r="5"/>
                                                <circle id="_14-6" class="smt0" cx="188.6" cy="82.3" r="5"/>
                                                <circle id="_13-6" class="smt0" cx="174.9" cy="82.3" r="5"/>
                                                <circle id="_12-6" class="smt0" cx="161.3" cy="82.3" r="5"/>
                                                <circle id="_11-6" class="smt0" cx="147.6" cy="82.3" r="5"/>
                                                <circle id="_10-6" class="smt0" cx="134" cy="82.3" r="5"/>
                                                <circle id="_9-6" class="smt0" cx="120.4" cy="82.3" r="5"/>
                                                <circle id="_8-6" class="smt0" cx="106.7" cy="82.3" r="5"/>
                                                <circle id="_7-6" class="smt0" cx="93.1" cy="82.3" r="5"/>
                                                <circle id="_6-6" class="smt0" cx="79.4" cy="82.3" r="5"/>
                                                <circle id="_5-6" class="smt1" cx="65.8" cy="82.3" r="5"/>
                                                <circle id="_4-6" class="smt0" cx="52.2" cy="82.3" r="5"/>
                                                <circle id="_3-6" class="smt0" cx="38.5" cy="82.3" r="5"/>
                                                <circle id="_2-6" class="smt0" cx="24.9" cy="82.3" r="5"/>
                                                <circle id="_1-6" class="smt0" cx="11.3" cy="82.3" r="5"/>
                                            </g>
                                            <g id="row_5">
                                                <circle id="_22-3" class="smt0" cx="297.7" cy="68" r="5"/>
                                                <circle id="_21-3" class="smt0" cx="284" cy="68" r="5"/>
                                                <circle id="_20-4" class="smt0" cx="270.4" cy="68" r="5"/>
                                                <circle id="_19-4" class="smt0" cx="256.8" cy="68" r="5"/>
                                                <circle id="_18-5" class="smt0" cx="243.1" cy="68" r="5"/>
                                                <circle id="_17-5" class="smt0" cx="229.5" cy="68" r="5"/>
                                                <circle id="_16-6" class="smt0" cx="215.9" cy="68" r="5"/>
                                                <circle id="_15-6" class="smt0" cx="202.2" cy="68" r="5"/>
                                                <circle id="_14-7" class="smt0" cx="188.6" cy="68" r="5"/>
                                                <circle id="_13-7" class="smt0" cx="174.9" cy="68" r="5"/>
                                                <circle id="_12-7" class="smt0" cx="161.3" cy="68" r="5"/>
                                                <circle id="_11-7" class="smt0" cx="147.6" cy="68" r="5"/>
                                                <circle id="_10-7" class="smt0" cx="134" cy="68" r="5"/>
                                                <circle id="_9-7" class="smt0" cx="120.4" cy="68" r="5"/>
                                                <circle id="_8-7" class="smt0" cx="106.7" cy="68" r="5"/>
                                                <circle id="_7-7" class="smt0" cx="93.1" cy="68" r="5"/>
                                                <circle id="_6-7" class="smt0" cx="79.4" cy="68" r="5"/>
                                                <circle id="_5-7" class="smt0" cx="65.8" cy="68" r="5"/>
                                                <circle id="_4-7" class="smt0" cx="52.2" cy="68" r="5"/>
                                                <circle id="_3-7" class="smt0" cx="38.5" cy="68" r="5"/>
                                                <circle id="_2-7" class="smt0" cx="24.9" cy="68" r="5"/>
                                                <circle id="_1-7" class="smt0" cx="11.3" cy="68" r="5"/>
                                            </g>
                                            <g id="row_4">
                                                <circle id="_22-4" class="smt0" cx="297.7" cy="53.7" r="5"/>
                                                <circle id="_21-4" class="smt0" cx="284" cy="53.7" r="5"/>
                                                <circle id="_20-5" class="smt0" cx="270.4" cy="53.7" r="5"/>
                                                <circle id="_19-5" class="smt0" cx="256.8" cy="53.7" r="5"/>
                                                <circle id="_18-6" class="smt0" cx="243.1" cy="53.7" r="5"/>
                                                <circle id="_17-6" class="smt0" cx="229.5" cy="53.7" r="5"/>
                                                <circle id="_16-7" class="smt0" cx="215.9" cy="53.7" r="5"/>
                                                <circle id="_15-7" class="smt0" cx="202.2" cy="53.7" r="5"/>
                                                <circle id="_14-8" class="smt0" cx="188.6" cy="53.7" r="5"/>
                                                <circle id="_13-8" class="smt0" cx="174.9" cy="53.7" r="5"/>
                                                <circle id="_12-8" class="smt0" cx="161.3" cy="53.7" r="5"/>
                                                <circle id="_11-8" class="smt0" cx="147.6" cy="53.7" r="5"/>
                                                <circle id="_10-8" class="smt0" cx="134" cy="53.7" r="5"/>
                                                <circle id="_9-8" class="smt0" cx="120.4" cy="53.7" r="5"/>
                                                <circle id="_8-8" class="smt0" cx="106.7" cy="53.7" r="5"/>
                                                <circle id="_7-8" class="smt1" cx="93.1" cy="53.7" r="5"/>
                                                <circle id="_6-8" class="smt0" cx="79.4" cy="53.7" r="5"/>
                                                <circle id="_5-8" class="smt1" cx="65.8" cy="53.7" r="5"/>
                                                <circle id="_4-8" class="smt0" cx="52.2" cy="53.7" r="5"/>
                                                <circle id="_3-8" class="smt0" cx="38.5" cy="53.7" r="5"/>
                                                <circle id="_2-8" class="smt0" cx="24.9" cy="53.7" r="5"/>
                                                <circle id="_1-8" class="smt0" cx="11.3" cy="53.7" r="5"/>
                                            </g>
                                            <g id="row_3">
                                                <circle id="_22-5" class="smt0" cx="297.7" cy="39.3" r="5"/>
                                                <circle id="_21-5" class="smt0" cx="284" cy="39.3" r="5"/>
                                                <circle id="_20-6" class="smt0" cx="270.4" cy="39.3" r="5"/>
                                                <circle id="_19-6" class="smt0" cx="256.8" cy="39.3" r="5"/>
                                                <circle id="_18-7" class="smt0" cx="243.1" cy="39.3" r="5"/>
                                                <circle id="_17-7" class="smt0" cx="229.5" cy="39.3" r="5"/>
                                                <circle id="_16-8" class="smt0" cx="215.9" cy="39.3" r="5"/>
                                                <circle id="_15-8" class="smt0" cx="202.2" cy="39.3" r="5"/>
                                                <circle id="_14-9" class="smt0" cx="188.6" cy="39.3" r="5"/>
                                                <circle id="_13-9" class="smt0" cx="174.9" cy="39.3" r="5"/>
                                                <circle id="_12-9" class="smt0" cx="161.3" cy="39.3" r="5"/>
                                                <circle id="_11-9" class="smt0" cx="147.6" cy="39.3" r="5"/>
                                                <circle id="_10-9" class="smt0" cx="134" cy="39.3" r="5"/>
                                                <circle id="_9-9" class="smt0" cx="120.4" cy="39.3" r="5"/>
                                                <circle id="_8-9" class="smt0" cx="106.7" cy="39.3" r="5"/>
                                                <circle id="_7-9" class="smt0" cx="93.1" cy="39.3" r="5"/>
                                                <circle id="_6-9" class="smt0" cx="79.4" cy="39.3" r="5"/>
                                                <circle id="_5-9" class="smt0" cx="65.8" cy="39.3" r="5"/>
                                                <circle id="_4-9" class="smt0" cx="52.2" cy="39.3" r="5"/>
                                                <circle id="_3-9" class="smt0" cx="38.5" cy="39.3" r="5"/>
                                                <circle id="_2-9" class="smt0" cx="24.9" cy="39.3" r="5"/>
                                                <circle id="_1-9" class="smt0" cx="11.3" cy="39.3" r="5"/>
                                            </g>
                                            <g id="row_2">
                                                <circle id="_22-6" class="smt0" cx="297.7" cy="25" r="5"/>
                                                <circle id="_21-6" class="smt0" cx="284" cy="25" r="5"/>
                                                <circle id="_20-7" class="smt0" cx="270.4" cy="25" r="5"/>
                                                <circle id="_19-7" class="smt0" cx="256.8" cy="25" r="5"/>
                                                <circle id="_18-8" class="smt0" cx="243.1" cy="25" r="5"/>
                                                <circle id="_17-8" class="smt0" cx="229.5" cy="25" r="5"/>
                                                <circle id="_16-9" class="smt0" cx="215.9" cy="25" r="5"/>
                                                <circle id="_15-9" class="smt0" cx="202.2" cy="25" r="5"/>
                                                <circle id="_14-10" class="smt0" cx="188.6" cy="25" r="5"/>
                                                <circle id="_13-10" class="smt0" cx="174.9" cy="25" r="5"/>
                                                <circle id="_12-10" class="smt0" cx="161.3" cy="25" r="5"/>
                                                <circle id="_11-10" class="smt0" cx="147.6" cy="25" r="5"/>
                                                <circle id="_10-10" class="smt0" cx="134" cy="25" r="5"/>
                                                <circle id="_9-10" class="smt0" cx="120.4" cy="25" r="5"/>
                                                <circle id="_8-10" class="smt0" cx="106.7" cy="25" r="5"/>
                                                <circle id="_7-10" class="smt0" cx="93.1" cy="25" r="5"/>
                                                <circle id="_6-10" class="smt0" cx="79.4" cy="25" r="5"/>
                                                <circle id="_5-10" class="smt0" cx="65.8" cy="25" r="5"/>
                                                <circle id="_4-10" class="smt0" cx="52.2" cy="25" r="5"/>
                                                <circle id="_3-10" class="smt0" cx="38.5" cy="25" r="5"/>
                                                <circle id="_2-10" class="smt0" cx="24.9" cy="25" r="5"/>
                                                <circle id="_1-10" class="smt0" cx="11.3" cy="25" r="5"/>
                                            </g>
                                            <g id="row_1">
                                                <circle id="_21-7" class="smt0" cx="284" cy="10.7" r="5"/>
                                                <circle id="_20-8" class="smt0" cx="270.4" cy="10.7" r="5"/>
                                                <circle id="_19-8" class="smt0" cx="256.8" cy="10.7" r="5"/>
                                                <circle id="_18-9" class="smt0" cx="243.1" cy="10.7" r="5"/>
                                                <circle id="_17-9" class="smt0" cx="229.5" cy="10.7" r="5"/>
                                                <circle id="_16-10" class="smt0" cx="215.9" cy="10.7" r="5"/>
                                                <circle id="_15-10" class="smt0" cx="202.2" cy="10.7" r="5"/>
                                                <circle id="_14-11" class="smt0" cx="188.6" cy="10.7" r="5"/>
                                                <circle id="_13-11" class="smt0" cx="174.9" cy="10.7" r="5"/>
                                                <circle id="_12-11" class="smt0" cx="161.3" cy="10.7" r="5"/>
                                                <circle id="_11-11" class="smt0" cx="147.6" cy="10.7" r="5"/>
                                                <circle id="_10-11" class="smt0" cx="134" cy="10.7" r="5"/>
                                                <circle id="_9-11" class="smt0" cx="120.4" cy="10.7" r="5"/>
                                                <circle id="_8-11" class="smt0" cx="106.7" cy="10.7" r="5"/>
                                                <circle id="_7-11" class="smt0" cx="93.1" cy="10.7" r="5"/>
                                                <circle id="_6-11" class="smt0" cx="79.4" cy="10.7" r="5"/>
                                                <circle id="_5-11" class="smt0" cx="65.8" cy="10.7" r="5"/>
                                                <circle id="_4-11" class="smt0" cx="52.2" cy="10.7" r="5"/>
                                                <circle id="_3-11" class="smt0" cx="38.5" cy="10.7" r="5"/>
                                                <circle id="_2-11" class="smt0" cx="24.9" cy="10.7" r="5"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                                </svg>
                                <div elem="zoom-panel" class="_js-zoom-panel"></div><!-- e:zoom-panel -->
                            </div><!-- e:small-map -->
                        </div><!-- e:section -->
                    </div><!-- e:sections -->
                </div><!-- e:body -->

                {% include "price-list.html" %}
            </div><!-- e:content -->
        </div><!-- e:viewbox -->

        <div elem="layout" mods="zoom">
            <div elem="zoom" class="_js-zoom-place">
                <div elem="rows-scroller">
                    <div elem="rows" class="_js-rows-scroller">
                        <div elem="row">1</div><!-- e:row -->
                        <div elem="row">2</div><!-- e:row -->
                        <div elem="row">3</div><!-- e:row -->
                        <div elem="row">4</div><!-- e:row -->
                        <div elem="row">5</div><!-- e:row -->
                        <div elem="row">6</div><!-- e:row -->
                        <div elem="row">7</div><!-- e:row -->
                        <div elem="row">8</div><!-- e:row -->
                        <div elem="row">9</div><!-- e:row -->
                        <div elem="row">10</div><!-- e:row -->
                        <div elem="row">11</div><!-- e:row -->
                    </div><!-- e:rows -->
                </div><!-- e:s-scroller -->
                <div elem="image-scroller" class="_js-original-place">
                    <div elem="big-map" class="_js-image-scroller" id="dxy">
                        <!-- <img elem="image" class="_js-original-image" src="img/places-map.png" alt=""> -->

                        <div elem="map" class="_js-original-image">
                            <!-- 1 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat">17</div>
                                <div elem="map-cell" class="seat">18</div>
                                <div elem="map-cell" class="seat">19</div>
                                <div elem="map-cell" class="seat">20</div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                            </div><!-- e:map-row -->
                            <!-- 2 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat">17</div>
                                <div elem="map-cell" class="seat">18</div>
                                <div elem="map-cell" class="seat">19</div>
                                <div elem="map-cell" class="seat">20</div>
                                <div elem="map-cell" class="seat">21</div>
                                <div elem="map-cell" class="seat">22</div>
                            </div><!-- e:map-row -->
                            <!-- 3 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat">17</div>
                                <div elem="map-cell" class="seat">18</div>
                                <div elem="map-cell" class="seat">19</div>
                                <div elem="map-cell" class="seat">20</div>
                                <div elem="map-cell" class="seat">21</div>
                                <div elem="map-cell" class="seat">22</div>
                            </div><!-- e:map-row -->
                            <!-- 4 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat seat--available seat--price seat--price_b seat--border">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat seat--available seat--price seat--price_b">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat">17</div>
                                <div elem="map-cell" class="seat">18</div>
                                <div elem="map-cell" class="seat">19</div>
                                <div elem="map-cell" class="seat">20</div>
                                <div elem="map-cell" class="seat">21</div>
                                <div elem="map-cell" class="seat">22</div>
                            </div><!-- e:map-row -->
                            <!-- 5 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat">17</div>
                                <div elem="map-cell" class="seat">18</div>
                                <div elem="map-cell" class="seat">19</div>
                                <div elem="map-cell" class="seat">20</div>
                                <div elem="map-cell" class="seat">21</div>
                                <div elem="map-cell" class="seat">22</div>
                            </div><!-- e:map-row -->
                            <!-- 6 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat seat--available seat--price seat--price_e">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat">17</div>
                                <div elem="map-cell" class="seat">18</div>
                                <div elem="map-cell" class="seat">19</div>
                                <div elem="map-cell" class="seat">20</div>
                                <div elem="map-cell" class="seat">21</div>
                                <div elem="map-cell" class="seat">22</div>
                            </div><!-- e:map-row -->
                            <!-- 7 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat">17</div>
                                <div elem="map-cell" class="seat">18</div>
                                <div elem="map-cell" class="seat">19</div>
                                <div elem="map-cell" class="seat">20</div>
                                <div elem="map-cell" class="seat">21</div>
                                <div elem="map-cell" class="seat">22</div>
                            </div><!-- e:map-row -->
                            <!-- 8 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat">17</div>
                                <div elem="map-cell" class="seat">18</div>
                                <div elem="map-cell" class="seat">19</div>
                                <div elem="map-cell" class="seat">20</div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                            </div><!-- e:map-row -->
                            <!-- 9 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat">17</div>
                                <div elem="map-cell" class="seat">18</div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                            </div><!-- e:map-row -->
                            <!-- 10 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat">15</div>
                                <div elem="map-cell" class="seat">16</div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                            </div><!-- e:map-row -->
                            <!-- 11 -->
                            <div elem="map-row">
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat">1</div>
                                <div elem="map-cell" class="seat">2</div>
                                <div elem="map-cell" class="seat">3</div>
                                <div elem="map-cell" class="seat">4</div>
                                <div elem="map-cell" class="seat">5</div>
                                <div elem="map-cell" class="seat">6</div>
                                <div elem="map-cell" class="seat">7</div>
                                <div elem="map-cell" class="seat">8</div>
                                <div elem="map-cell" class="seat">9</div>
                                <div elem="map-cell" class="seat">10</div>
                                <div elem="map-cell" class="seat">11</div>
                                <div elem="map-cell" class="seat">12</div>
                                <div elem="map-cell" class="seat">13</div>
                                <div elem="map-cell" class="seat">14</div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                                <div elem="map-cell" class="seat is-hidden"></div>
                            </div><!-- e:map-row -->
                        </div><!-- e:places -->
                    </div><!-- e:big-map -->
                </div><!-- e:map -->
            </div><!-- e:scroller -->

            <div elem="preview" mods="small-hall">
                <div elem="section">
                    <div elem="image">
                        <svg style="width: 360px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 308.75 210.4">
                            <defs>
                                <style>
                                    .cls-1{
                                        fill:#fff;
                                        stroke:#f6f6f6;
                                        stroke-miterlimit:10;
                                        stroke-width:1.5px;
                                    }
                                    .cls-2{
                                        fill:#00c3e3;
                                    }
                                    .cls-3{
                                        fill:#c6c6c6;
                                    }
                                    .cls-4{
                                        fill:#f30015;
                                    }
                                </style>
                            </defs>
                            <title>Ресурс 4</title>
                            <g id="Слой_2" data-name="Слой 2">
                                <g id="halls">
                                    <g id="small_hall">
                                        <g id="parter">
                                            <rect id="base_parter" class="cls-1" x="0.75" y="35.15" width="307.25" height="174.5" rx="5" ry="5"/>
                                            <g id="parter_rows">
                                                <g id="row_11">
                                                    <circle id="_14" data-name="14" class="cls-2" cx="243.13" cy="194.78" r="5"/>
                                                    <circle id="_13" data-name="13" class="cls-2" cx="229.49" cy="194.78" r="5"/>
                                                    <circle id="_12" data-name="12" class="cls-2" cx="215.85" cy="194.78" r="5"/>
                                                    <circle id="_11" data-name="11" class="cls-2" cx="202.21" cy="194.78" r="5"/>
                                                    <circle id="_10" data-name="10" class="cls-2" cx="188.57" cy="194.78" r="5"/>
                                                    <circle id="_9" data-name="9" class="cls-2" cx="174.93" cy="194.78" r="5"/>
                                                    <circle id="_8" data-name="8" class="cls-2" cx="161.29" cy="194.78" r="5"/>
                                                    <circle id="_7" data-name="7" class="cls-2" cx="147.65" cy="194.78" r="5"/>
                                                    <circle id="_6" data-name="6" class="cls-2" cx="134.01" cy="194.78" r="5"/>
                                                    <circle id="_5" data-name="5" class="cls-2" cx="120.37" cy="194.78" r="5"/>
                                                    <circle id="_4" data-name="4" class="cls-2" cx="106.73" cy="194.78" r="5"/>
                                                    <circle id="_3" data-name="3" class="cls-2" cx="93.09" cy="194.78" r="5"/>
                                                    <circle id="_2" data-name="2" class="cls-2" cx="79.45" cy="194.78" r="5"/>
                                                    <circle id="_1" data-name="1" class="cls-2" cx="65.81" cy="194.78" r="5"/>
                                                </g>
                                                <g id="row_10">
                                                    <circle id="_16" data-name="16" class="cls-2" cx="256.77" cy="180.4" r="5"/>
                                                    <circle id="_15" data-name="15" class="cls-2" cx="243.13" cy="180.4" r="5"/>
                                                    <circle id="_14-2" data-name="14" class="cls-2" cx="229.49" cy="180.4" r="5"/>
                                                    <circle id="_13-2" data-name="13" class="cls-2" cx="215.85" cy="180.4" r="5"/>
                                                    <circle id="_12-2" data-name="12" class="cls-2" cx="202.21" cy="180.4" r="5"/>
                                                    <circle id="_11-2" data-name="11" class="cls-2" cx="188.57" cy="180.4" r="5"/>
                                                    <circle id="_10-2" data-name="10" class="cls-2" cx="174.93" cy="180.4" r="5"/>
                                                    <circle id="_9-2" data-name="9" class="cls-2" cx="161.29" cy="180.4" r="5"/>
                                                    <circle id="_8-2" data-name="8" class="cls-2" cx="147.65" cy="180.4" r="5"/>
                                                    <circle id="_7-2" data-name="7" class="cls-2" cx="134.01" cy="180.4" r="5"/>
                                                    <circle id="_6-2" data-name="6" class="cls-2" cx="120.37" cy="180.4" r="5"/>
                                                    <circle id="_5-2" data-name="5" class="cls-2" cx="106.73" cy="180.4" r="5"/>
                                                    <circle id="_4-2" data-name="4" class="cls-2" cx="93.09" cy="180.4" r="5"/>
                                                    <circle id="_3-2" data-name="3" class="cls-2" cx="79.45" cy="180.4" r="5"/>
                                                    <circle id="_2-2" data-name="2" class="cls-2" cx="65.81" cy="180.4" r="5"/>
                                                    <circle id="_1-2" data-name="1" class="cls-2" cx="52.17" cy="180.4" r="5"/>
                                                </g>
                                                <g id="row_9">
                                                    <circle id="_18" data-name="18" class="cls-2" cx="270.41" cy="166.03" r="5"/>
                                                    <circle id="_17" data-name="17" class="cls-2" cx="256.77" cy="166.03" r="5"/>
                                                    <circle id="_16-2" data-name="16" class="cls-2" cx="243.13" cy="166.03" r="5"/>
                                                    <circle id="_15-2" data-name="15" class="cls-2" cx="229.49" cy="166.03" r="5"/>
                                                    <circle id="_14-3" data-name="14" class="cls-2" cx="215.85" cy="166.03" r="5"/>
                                                    <circle id="_13-3" data-name="13" class="cls-2" cx="202.21" cy="166.03" r="5"/>
                                                    <circle id="_12-3" data-name="12" class="cls-2" cx="188.57" cy="166.03" r="5"/>
                                                    <circle id="_11-3" data-name="11" class="cls-2" cx="174.93" cy="166.03" r="5"/>
                                                    <circle id="_10-3" data-name="10" class="cls-2" cx="161.29" cy="166.03" r="5"/>
                                                    <circle id="_9-3" data-name="9" class="cls-2" cx="147.65" cy="166.03" r="5"/>
                                                    <circle id="_8-3" data-name="8" class="cls-2" cx="134.01" cy="166.03" r="5"/>
                                                    <circle id="_7-3" data-name="7" class="cls-2" cx="120.37" cy="166.03" r="5"/>
                                                    <circle id="_6-3" data-name="6" class="cls-2" cx="106.73" cy="166.03" r="5"/>
                                                    <circle id="_5-3" data-name="5" class="cls-2" cx="93.09" cy="166.03" r="5"/>
                                                    <circle id="_4-3" data-name="4" class="cls-2" cx="79.45" cy="166.03" r="5"/>
                                                    <circle id="_3-3" data-name="3" class="cls-2" cx="65.81" cy="166.03" r="5"/>
                                                    <circle id="_2-3" data-name="2" class="cls-2" cx="52.17" cy="166.03" r="5"/>
                                                    <circle id="_1-3" data-name="1" class="cls-2" cx="38.53" cy="166.03" r="5"/>
                                                </g>
                                                <g id="row_8">
                                                    <circle id="_20" data-name="20" class="cls-2" cx="284.05" cy="151.65" r="5"/>
                                                    <circle id="_19" data-name="19" class="cls-2" cx="270.41" cy="151.65" r="5"/>
                                                    <circle id="_18-2" data-name="18" class="cls-2" cx="256.77" cy="151.65" r="5"/>
                                                    <circle id="_17-2" data-name="17" class="cls-2" cx="243.13" cy="151.65" r="5"/>
                                                    <circle id="_16-3" data-name="16" class="cls-2" cx="229.49" cy="151.65" r="5"/>
                                                    <circle id="_15-3" data-name="15" class="cls-2" cx="215.85" cy="151.65" r="5"/>
                                                    <circle id="_14-4" data-name="14" class="cls-2" cx="202.21" cy="151.65" r="5"/>
                                                    <circle id="_13-4" data-name="13" class="cls-2" cx="188.57" cy="151.65" r="5"/>
                                                    <circle id="_12-4" data-name="12" class="cls-2" cx="174.93" cy="151.65" r="5"/>
                                                    <circle id="_11-4" data-name="11" class="cls-2" cx="161.29" cy="151.65" r="5"/>
                                                    <circle id="_10-4" data-name="10" class="cls-2" cx="147.65" cy="151.65" r="5"/>
                                                    <circle id="_9-4" data-name="9" class="cls-2" cx="134.01" cy="151.65" r="5"/>
                                                    <circle id="_8-4" data-name="8" class="cls-2" cx="120.37" cy="151.65" r="5"/>
                                                    <circle id="_7-4" data-name="7" class="cls-2" cx="106.73" cy="151.65" r="5"/>
                                                    <circle id="_6-4" data-name="6" class="cls-2" cx="93.09" cy="151.65" r="5"/>
                                                    <circle id="_5-4" data-name="5" class="cls-2" cx="79.45" cy="151.65" r="5"/>
                                                    <circle id="_4-4" data-name="4" class="cls-2" cx="65.81" cy="151.65" r="5"/>
                                                    <circle id="_3-4" data-name="3" class="cls-2" cx="52.17" cy="151.65" r="5"/>
                                                    <circle id="_2-4" data-name="2" class="cls-2" cx="38.53" cy="151.65" r="5"/>
                                                    <circle id="_1-4" data-name="1" class="cls-2" cx="24.89" cy="151.65" r="5"/>
                                                </g>
                                                <g id="row_7">
                                                    <circle id="_22" data-name="22" class="cls-2" cx="297.69" cy="137.65" r="5"/>
                                                    <circle id="_21" data-name="21" class="cls-2" cx="284.05" cy="137.65" r="5"/>
                                                    <circle id="_20-2" data-name="20" class="cls-2" cx="270.41" cy="137.65" r="5"/>
                                                    <circle id="_19-2" data-name="19" class="cls-2" cx="256.77" cy="137.65" r="5"/>
                                                    <circle id="_18-3" data-name="18" class="cls-2" cx="243.13" cy="137.65" r="5"/>
                                                    <circle id="_17-3" data-name="17" class="cls-2" cx="229.49" cy="137.65" r="5"/>
                                                    <circle id="_16-4" data-name="16" class="cls-2" cx="215.85" cy="137.65" r="5"/>
                                                    <circle id="_15-4" data-name="15" class="cls-2" cx="202.21" cy="137.65" r="5"/>
                                                    <circle id="_14-5" data-name="14" class="cls-2" cx="188.57" cy="137.65" r="5"/>
                                                    <circle id="_13-5" data-name="13" class="cls-2" cx="174.93" cy="137.65" r="5"/>
                                                    <circle id="_12-5" data-name="12" class="cls-2" cx="161.29" cy="137.65" r="5"/>
                                                    <circle id="_11-5" data-name="11" class="cls-2" cx="147.65" cy="137.65" r="5"/>
                                                    <circle id="_10-5" data-name="10" class="cls-2" cx="134.01" cy="137.65" r="5"/>
                                                    <circle id="_9-5" data-name="9" class="cls-2" cx="120.37" cy="137.65" r="5"/>
                                                    <circle id="_8-5" data-name="8" class="cls-2" cx="106.73" cy="137.65" r="5"/>
                                                    <circle id="_7-5" data-name="7" class="cls-2" cx="93.09" cy="137.65" r="5"/>
                                                    <circle id="_6-5" data-name="6" class="cls-2" cx="79.45" cy="137.65" r="5"/>
                                                    <circle id="_5-5" data-name="5" class="cls-2" cx="65.81" cy="137.65" r="5"/>
                                                    <circle id="_4-5" data-name="4" class="cls-2" cx="52.17" cy="137.65" r="5"/>
                                                    <circle id="_3-5" data-name="3" class="cls-2" cx="38.53" cy="137.65" r="5"/>
                                                    <circle id="_2-5" data-name="2" class="cls-2" cx="24.89" cy="137.65" r="5"/>
                                                    <circle id="_1-5" data-name="1" class="cls-2" cx="11.25" cy="137.65" r="5"/>
                                                </g>
                                                <g id="row_6">
                                                    <circle id="_22-2" data-name="22" class="cls-2" cx="297.69" cy="123.32" r="5"/>
                                                    <circle id="_21-2" data-name="21" class="cls-2" cx="284.05" cy="123.32" r="5"/>
                                                    <circle id="_20-3" data-name="20" class="cls-2" cx="270.41" cy="123.32" r="5"/>
                                                    <circle id="_19-3" data-name="19" class="cls-2" cx="256.77" cy="123.32" r="5"/>
                                                    <circle id="_18-4" data-name="18" class="cls-2" cx="243.13" cy="123.32" r="5"/>
                                                    <circle id="_17-4" data-name="17" class="cls-2" cx="229.49" cy="123.32" r="5"/>
                                                    <circle id="_16-5" data-name="16" class="cls-2" cx="215.85" cy="123.32" r="5"/>
                                                    <circle id="_15-5" data-name="15" class="cls-2" cx="202.21" cy="123.32" r="5"/>
                                                    <circle id="_14-6" data-name="14" class="cls-2" cx="188.57" cy="123.32" r="5"/>
                                                    <circle id="_13-6" data-name="13" class="cls-2" cx="174.93" cy="123.32" r="5"/>
                                                    <circle id="_12-6" data-name="12" class="cls-2" cx="161.29" cy="123.32" r="5"/>
                                                    <circle id="_11-6" data-name="11" class="cls-2" cx="147.65" cy="123.32" r="5"/>
                                                    <circle id="_10-6" data-name="10" class="cls-2" cx="134.01" cy="123.32" r="5"/>
                                                    <circle id="_9-6" data-name="9" class="cls-2" cx="120.37" cy="123.32" r="5"/>
                                                    <circle id="_8-6" data-name="8" class="cls-2" cx="106.73" cy="123.32" r="5"/>
                                                    <circle id="_7-6" data-name="7" class="cls-2" cx="93.09" cy="123.32" r="5"/>
                                                    <circle id="_6-6" data-name="6" class="cls-2" cx="79.45" cy="123.32" r="5"/>
                                                    <circle id="_5-6" data-name="5" class="cls-4" cx="65.81" cy="123.32" r="5"/>
                                                    <circle id="_4-6" data-name="4" class="cls-2" cx="52.17" cy="123.32" r="5"/>
                                                    <circle id="_3-6" data-name="3" class="cls-2" cx="38.53" cy="123.32" r="5"/>
                                                    <circle id="_2-6" data-name="2" class="cls-2" cx="24.89" cy="123.32" r="5"/>
                                                    <circle id="_1-6" data-name="1" class="cls-2" cx="11.25" cy="123.32" r="5"/>
                                                </g>
                                                <g id="row_5">
                                                    <circle id="_22-3" data-name="22" class="cls-2" cx="297.69" cy="108.99" r="5"/>
                                                    <circle id="_21-3" data-name="21" class="cls-2" cx="284.05" cy="108.99" r="5"/>
                                                    <circle id="_20-4" data-name="20" class="cls-2" cx="270.41" cy="108.99" r="5"/>
                                                    <circle id="_19-4" data-name="19" class="cls-2" cx="256.77" cy="108.99" r="5"/>
                                                    <circle id="_18-5" data-name="18" class="cls-2" cx="243.13" cy="108.99" r="5"/>
                                                    <circle id="_17-5" data-name="17" class="cls-2" cx="229.49" cy="108.99" r="5"/>
                                                    <circle id="_16-6" data-name="16" class="cls-2" cx="215.85" cy="108.99" r="5"/>
                                                    <circle id="_15-6" data-name="15" class="cls-2" cx="202.21" cy="108.99" r="5"/>
                                                    <circle id="_14-7" data-name="14" class="cls-2" cx="188.57" cy="108.99" r="5"/>
                                                    <circle id="_13-7" data-name="13" class="cls-2" cx="174.93" cy="108.99" r="5"/>
                                                    <circle id="_12-7" data-name="12" class="cls-2" cx="161.29" cy="108.99" r="5"/>
                                                    <circle id="_11-7" data-name="11" class="cls-2" cx="147.65" cy="108.99" r="5"/>
                                                    <circle id="_10-7" data-name="10" class="cls-2" cx="134.01" cy="108.99" r="5"/>
                                                    <circle id="_9-7" data-name="9" class="cls-2" cx="120.37" cy="108.99" r="5"/>
                                                    <circle id="_8-7" data-name="8" class="cls-2" cx="106.73" cy="108.99" r="5"/>
                                                    <circle id="_7-7" data-name="7" class="cls-2" cx="93.09" cy="108.99" r="5"/>
                                                    <circle id="_6-7" data-name="6" class="cls-2" cx="79.45" cy="108.99" r="5"/>
                                                    <circle id="_5-7" data-name="5" class="cls-2" cx="65.81" cy="108.99" r="5"/>
                                                    <circle id="_4-7" data-name="4" class="cls-2" cx="52.17" cy="108.99" r="5"/>
                                                    <circle id="_3-7" data-name="3" class="cls-2" cx="38.53" cy="108.99" r="5"/>
                                                    <circle id="_2-7" data-name="2" class="cls-2" cx="24.89" cy="108.99" r="5"/>
                                                    <circle id="_1-7" data-name="1" class="cls-2" cx="11.25" cy="108.99" r="5"/>
                                                </g>
                                                <g id="row_4">
                                                    <circle id="_22-4" data-name="22" class="cls-2" cx="297.69" cy="94.65" r="5"/>
                                                    <circle id="_21-4" data-name="21" class="cls-2" cx="284.05" cy="94.65" r="5"/>
                                                    <circle id="_20-5" data-name="20" class="cls-2" cx="270.41" cy="94.65" r="5"/>
                                                    <circle id="_19-5" data-name="19" class="cls-2" cx="256.77" cy="94.65" r="5"/>
                                                    <circle id="_18-6" data-name="18" class="cls-2" cx="243.13" cy="94.65" r="5"/>
                                                    <circle id="_17-6" data-name="17" class="cls-2" cx="229.49" cy="94.65" r="5"/>
                                                    <circle id="_16-7" data-name="16" class="cls-2" cx="215.85" cy="94.65" r="5"/>
                                                    <circle id="_15-7" data-name="15" class="cls-2" cx="202.21" cy="94.65" r="5"/>
                                                    <circle id="_14-8" data-name="14" class="cls-2" cx="188.57" cy="94.65" r="5"/>
                                                    <circle id="_13-8" data-name="13" class="cls-2" cx="174.93" cy="94.65" r="5"/>
                                                    <circle id="_12-8" data-name="12" class="cls-2" cx="161.29" cy="94.65" r="5"/>
                                                    <circle id="_11-8" data-name="11" class="cls-2" cx="147.65" cy="94.65" r="5"/>
                                                    <circle id="_10-8" data-name="10" class="cls-2" cx="134.01" cy="94.65" r="5"/>
                                                    <circle id="_9-8" data-name="9" class="cls-2" cx="120.37" cy="94.65" r="5"/>
                                                    <circle id="_8-8" data-name="8" class="cls-2" cx="106.73" cy="94.65" r="5"/>
                                                    <circle id="_7-8" data-name="7" class="cls-4" cx="93.09" cy="94.65" r="5"/>
                                                    <circle id="_6-8" data-name="6" class="cls-2" cx="79.45" cy="94.65" r="5"/>
                                                    <circle id="_5-8" data-name="5" class="cls-4" cx="65.81" cy="94.65" r="5"/>
                                                    <circle id="_4-8" data-name="4" class="cls-2" cx="52.17" cy="94.65" r="5"/>
                                                    <circle id="_3-8" data-name="3" class="cls-2" cx="38.53" cy="94.65" r="5"/>
                                                    <circle id="_2-8" data-name="2" class="cls-2" cx="24.89" cy="94.65" r="5"/>
                                                    <circle id="_1-8" data-name="1" class="cls-2" cx="11.25" cy="94.65" r="5"/>
                                                </g>
                                                <g id="row_3">
                                                    <circle id="_22-5" data-name="22" class="cls-2" cx="297.69" cy="80.32" r="5"/>
                                                    <circle id="_21-5" data-name="21" class="cls-2" cx="284.05" cy="80.32" r="5"/>
                                                    <circle id="_20-6" data-name="20" class="cls-2" cx="270.41" cy="80.32" r="5"/>
                                                    <circle id="_19-6" data-name="19" class="cls-2" cx="256.77" cy="80.32" r="5"/>
                                                    <circle id="_18-7" data-name="18" class="cls-2" cx="243.13" cy="80.32" r="5"/>
                                                    <circle id="_17-7" data-name="17" class="cls-2" cx="229.49" cy="80.32" r="5"/>
                                                    <circle id="_16-8" data-name="16" class="cls-2" cx="215.85" cy="80.32" r="5"/>
                                                    <circle id="_15-8" data-name="15" class="cls-2" cx="202.21" cy="80.32" r="5"/>
                                                    <circle id="_14-9" data-name="14" class="cls-2" cx="188.57" cy="80.32" r="5"/>
                                                    <circle id="_13-9" data-name="13" class="cls-2" cx="174.93" cy="80.32" r="5"/>
                                                    <circle id="_12-9" data-name="12" class="cls-2" cx="161.29" cy="80.32" r="5"/>
                                                    <circle id="_11-9" data-name="11" class="cls-2" cx="147.65" cy="80.32" r="5"/>
                                                    <circle id="_10-9" data-name="10" class="cls-2" cx="134.01" cy="80.32" r="5"/>
                                                    <circle id="_9-9" data-name="9" class="cls-2" cx="120.37" cy="80.32" r="5"/>
                                                    <circle id="_8-9" data-name="8" class="cls-2" cx="106.73" cy="80.32" r="5"/>
                                                    <circle id="_7-9" data-name="7" class="cls-2" cx="93.09" cy="80.32" r="5"/>
                                                    <circle id="_6-9" data-name="6" class="cls-2" cx="79.45" cy="80.32" r="5"/>
                                                    <circle id="_5-9" data-name="5" class="cls-2" cx="65.81" cy="80.32" r="5"/>
                                                    <circle id="_4-9" data-name="4" class="cls-2" cx="52.17" cy="80.32" r="5"/>
                                                    <circle id="_3-9" data-name="3" class="cls-2" cx="38.53" cy="80.32" r="5"/>
                                                    <circle id="_2-9" data-name="2" class="cls-2" cx="24.89" cy="80.32" r="5"/>
                                                    <circle id="_1-9" data-name="1" class="cls-2" cx="11.25" cy="80.32" r="5"/>
                                                </g>
                                                <g id="row_2">
                                                    <circle id="_22-6" data-name="22" class="cls-2" cx="297.69" cy="65.99" r="5"/>
                                                    <circle id="_21-6" data-name="21" class="cls-2" cx="284.05" cy="65.99" r="5"/>
                                                    <circle id="_20-7" data-name="20" class="cls-2" cx="270.41" cy="65.99" r="5"/>
                                                    <circle id="_19-7" data-name="19" class="cls-2" cx="256.77" cy="65.99" r="5"/>
                                                    <circle id="_18-8" data-name="18" class="cls-2" cx="243.13" cy="65.99" r="5"/>
                                                    <circle id="_17-8" data-name="17" class="cls-2" cx="229.49" cy="65.99" r="5"/>
                                                    <circle id="_16-9" data-name="16" class="cls-2" cx="215.85" cy="65.99" r="5"/>
                                                    <circle id="_15-9" data-name="15" class="cls-2" cx="202.21" cy="65.99" r="5"/>
                                                    <circle id="_14-10" data-name="14" class="cls-2" cx="188.57" cy="65.99" r="5"/>
                                                    <circle id="_13-10" data-name="13" class="cls-2" cx="174.93" cy="65.99" r="5"/>
                                                    <circle id="_12-10" data-name="12" class="cls-2" cx="161.29" cy="65.99" r="5"/>
                                                    <circle id="_11-10" data-name="11" class="cls-2" cx="147.65" cy="65.99" r="5"/>
                                                    <circle id="_10-10" data-name="10" class="cls-2" cx="134.01" cy="65.99" r="5"/>
                                                    <circle id="_9-10" data-name="9" class="cls-2" cx="120.37" cy="65.99" r="5"/>
                                                    <circle id="_8-10" data-name="8" class="cls-2" cx="106.73" cy="65.99" r="5"/>
                                                    <circle id="_7-10" data-name="7" class="cls-2" cx="93.09" cy="65.99" r="5"/>
                                                    <circle id="_6-10" data-name="6" class="cls-2" cx="79.45" cy="65.99" r="5"/>
                                                    <circle id="_5-10" data-name="5" class="cls-2" cx="65.81" cy="65.99" r="5"/>
                                                    <circle id="_4-10" data-name="4" class="cls-2" cx="52.17" cy="65.99" r="5"/>
                                                    <circle id="_3-10" data-name="3" class="cls-2" cx="38.53" cy="65.99" r="5"/>
                                                    <circle id="_2-10" data-name="2" class="cls-2" cx="24.89" cy="65.99" r="5"/>
                                                    <circle id="_1-10" data-name="1" class="cls-2" cx="11.25" cy="65.99" r="5"/>
                                                </g>
                                                <g id="row_1">
                                                    <circle id="_21-7" data-name="21" class="cls-2" cx="284.05" cy="51.65" r="5"/>
                                                    <circle id="_20-8" data-name="20" class="cls-2" cx="270.41" cy="51.65" r="5"/>
                                                    <circle id="_19-8" data-name="19" class="cls-2" cx="256.77" cy="51.65" r="5"/>
                                                    <circle id="_18-9" data-name="18" class="cls-2" cx="243.13" cy="51.65" r="5"/>
                                                    <circle id="_17-9" data-name="17" class="cls-2" cx="229.49" cy="51.65" r="5"/>
                                                    <circle id="_16-10" data-name="16" class="cls-2" cx="215.85" cy="51.65" r="5"/>
                                                    <circle id="_15-10" data-name="15" class="cls-2" cx="202.21" cy="51.65" r="5"/>
                                                    <circle id="_14-11" data-name="14" class="cls-2" cx="188.57" cy="51.65" r="5"/>
                                                    <circle id="_13-11" data-name="13" class="cls-2" cx="174.93" cy="51.65" r="5"/>
                                                    <circle id="_12-11" data-name="12" class="cls-2" cx="161.29" cy="51.65" r="5"/>
                                                    <circle id="_11-11" data-name="11" class="cls-2" cx="147.65" cy="51.65" r="5"/>
                                                    <circle id="_10-11" data-name="10" class="cls-2" cx="134.01" cy="51.65" r="5"/>
                                                    <circle id="_9-11" data-name="9" class="cls-2" cx="120.37" cy="51.65" r="5"/>
                                                    <circle id="_8-11" data-name="8" class="cls-2" cx="106.73" cy="51.65" r="5"/>
                                                    <circle id="_7-11" data-name="7" class="cls-2" cx="93.09" cy="51.65" r="5"/>
                                                    <circle id="_6-11" data-name="6" class="cls-2" cx="79.45" cy="51.65" r="5"/>
                                                    <circle id="_5-11" data-name="5" class="cls-2" cx="65.81" cy="51.65" r="5"/>
                                                    <circle id="_4-11" data-name="4" class="cls-2" cx="52.17" cy="51.65" r="5"/>
                                                    <circle id="_3-11" data-name="3" class="cls-2" cx="38.53" cy="51.65" r="5"/>
                                                    <circle id="_2-11" data-name="2" class="cls-2" cx="24.89" cy="51.65" r="5"/>
                                                </g>
                                            </g>
                                        </g>
                                        <g id="scene">
                                            <rect id="scene_line" class="cls-3" x="35.75" y="17.65" width="240" height="2"/>
                                            <g id="scene_name">
                                                <path d="M141.36,2.74h-.81l-.22-1.21a2.23,2.23,0,0,0-.69-.45,2.47,2.47,0,0,0-1-.18,2.39,2.39,0,0,0-2,1,4,4,0,0,0-.71,2.45v.13a4.08,4.08,0,0,0,.7,2.45,2.26,2.26,0,0,0,1.94,1,2.93,2.93,0,0,0,1.05-.18,2,2,0,0,0,.73-.45L140.54,6h.81V7.56a3.2,3.2,0,0,1-1.11.85,3.75,3.75,0,0,1-1.71.37,3.45,3.45,0,0,1-2.73-1.23,4.55,4.55,0,0,1-1.07-3.09V4.33a4.61,4.61,0,0,1,1-3.1A3.44,3.44,0,0,1,138.54,0a3.7,3.7,0,0,1,1.71.38,3.29,3.29,0,0,1,1.11.85Z"/>
                                                <path d="M150.88.87l-1,.16V7.75H151v3H149.9V8.65h-7.38V7.92l1-.16V1l-1-.16V.12h3.06V.87l-1,.16V7.75h4.15V1l-1-.16V.12h3.06Z"/>
                                                <path d="M151.82,8.65V7.92l1-.16V1l-1-.16V.12h6.55V2.17h-1L157.29,1h-3.36V3.79h3.26V4.7h-3.26V7.75h3.43l.09-1.14h1v2Z"/>
                                                <path d="M159.47.87V.12h3.06V.87l-1,.16V4h4.14V1l-1-.16V.12h3.06V.87l-1,.16V7.75l1,.16v.74h-3.06V7.92l1-.16V4.89h-4.14V7.75l1,.16v.74h-3.06V7.92l1-.16V1Z"/>
                                                <path d="M168.6,7.92l.63-.09,3-7.71h1l2.93,7.71.63.09v.74h-2.45V7.92L175,7.8l-.56-1.57H171L170.4,7.8l.64.11v.74H168.6Zm2.74-2.65H174l-1.32-3.66h0Z"/>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div><!-- e:image -->

                    {% include "place-infowindow.html" %}
                </div><!-- e:section -->
            </div><!-- e:preview -->
        </div><!-- e:preview -->
    </div><!-- e:main -->
    <div elem="footer">
    	<p>Служба поддержки: <a href="tel:+78632633569">+7 (863) 263-35-69</a></p>
    	<p>Кассы: <a href="tel:+78632633569">+7 (863) 263-35-69</a></p>
    	<p>Работа касс: с 10.00 до 18.00 (ежедневно), с 10.00 до 19.00 (в день концерта)</p>
    </div><!-- e:foolter -->
</div><!-- b:places-map -->

{% endblock %}