= yaml =
pageTitle: Оплата Билетов
bodyMods: cart
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% extends '_layout.html' %}

{% block main %}
	<h1 class="cart-title">{{pageTitle}}</h1>
	
	{% set activeStep1 = false %}
	{% set activeStep2 = false %}
	{% set activeStep3 = false %}
	{% set activeStep4 = true %}

	{% set doneStep1 = true %}
	{% set doneStep2 = true %}
	{% set doneStep3 = true %}

	{% include 'cart-steps.html' %}

	<div block="c-p-block" mods="order-done">
		<div elem="container">
			<div elem="order-done-icon"></div>
			<div elem="text-container">
				<div elem="text-title">Поздравляем, заказ оформлен</div>				
					Оплата прошла успешно. Билет в скором времени будет отправлен на указанный адрес электронной почты:
					<br>
					<br>
					client@gmail.com		
			</div>
		</div>
		<div elem="b-conteiner">
			<a href="#" elem="btn" mods="back" mix="block:btn2">Перейти к афише</a>
		</div>
	</div>

	{% include 'icons-block.html' %}
	
	{% set footerPayIco = true %}

{% endblock %}