= yaml =
pageTitle: Оплата Билетов
bodyMods: cart
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
= yaml =

{% extends '_layout.html' %}

{% block main %}
	<h1 class="cart-title">{{pageTitle}}</h1>
	
	{% set activeStep1 = false %}
	{% set activeStep2 = false %}
	{% set activeStep3 = true %}
	{% set activeStep4 = false %}

	{% set doneStep1 = true %}
	{% set doneStep2 = true %}
	{% set doneStep3 = false %}
	{% set doneStep4 = false %}

	{% include 'cart-steps.html' %}

	<form block="c-p-block" mods="form" mix="block:payment">
		<div elem="t-conteiner">
			<div elem="payment-item" class="_js-tabs-title" data-tab-index="0"><img src="img/visa_icon.svg" alt=""></div>	
			<div elem="payment-item" class="is-active _js-tabs-title" data-tab-index="1"><img src="img/mastercard_icon.svg" alt=""></div>	
		</div>	
		<div elem="form-container">
			<div elem="form-card" class="_js-tabs-body" data-tab-index="0">
				<div elem="form-content">
					<div elem="form-field">
						<div elem="form-field-title">Имя владельца карты</div>
						<input type="text" placeholder="Ivan Ivanov">
					</div>
					<div elem="form-field">
						<div elem="form-field-title">Номер карты</div>
						<input type="text" placeholder="0000 0000 0000 0000">
					</div>
					<div elem="form-field" mods="type-selest"  mix="block:type-3">
						<div elem="form-field-title">Годен до</div>
						<select>
							<option selected>MM</option>
							<option>test2</option>
							<option>test3</option>
						</select>
					</div>
					<div elem="form-field" mods="type-selest" mix="block:type-3">
						<select>
							<option selected>YYYY</option>
							<option>test2</option>
							<option>test3</option>
						</select>
					</div>
					<div elem="form-field" mix="block:type-3">
						<div elem="form-field-title">CVV код</div>
						<input type="text" placeholder="000">
					</div>
						
				</div>
			</div>

			<div elem="form-card" class="_js-tabs-body is-active" data-tab-index="1">
				<div elem="form-content">
					<div elem="form-field">
						<div elem="form-field-title">Имя владельца карты</div>
						<input type="text" placeholder="Ivan Ivanov">
					</div>
					<div elem="form-field">
						<div elem="form-field-title">Номер карты</div>
						<input type="text" placeholder="0000 0000 0000 0000">
					</div>
					<div elem="form-field" mods="type-selest"  mix="block:type-3">
						<div elem="form-field-title">Годен до</div>
						<select>
							<option selected>MM</option>
							<option>test2</option>
							<option>test3</option>
						</select>
					</div>
					<div elem="form-field" mods="type-selest" mix="block:type-3">
						<select>
							<option selected>YYYY</option>
							<option>test2</option>
							<option>test3</option>
						</select>
					</div>
					<div elem="form-field" mix="block:type-3">
						<div elem="form-field-title">CVV код</div>
						<input type="text" placeholder="000">
					</div>
						
				</div>
			</div>
		</div>
		<div elem="b-conteiner">
			<a href="#" elem="btn" mods="back">Оформление</a>
			<button elem="btn" mods="oreder">Получить билет</button>
		</div>
	</form>

	{% include 'icons-block.html' %}
	
	{% set footerPayIco = true %}

{% endblock %}