<div block="event-calendar">
    <div elem="cols">
        <div elem="col" mods="years">
            <div elem="items">
                <div elem="list">
                    <a href="#" elem="item">2018</a><!-- e:item -->
                    <a href="#" elem="item" class="is-active">2019</a><!-- e:item -->
                    <a href="#" elem="item">2020</a><!-- e:item -->
                </div><!-- e:list -->
                <a href="#" elem="arrow" class="_js-calendar-arrow">
                    <img src="img/arrow-right.png" alt="">
                </a><!-- e:arrow -->
            </div><!-- e:items -->
        </div><!-- e:col -->
        <div elem="col" mods="months">
            <div elem="items">
                <div elem="list">
                    <a href="#" elem="item">Янв</a><!-- e:item -->
                    <a href="#" elem="item">Фев</a><!-- e:item -->
                    <a href="#" elem="item" class="is-active">Мар</a><!-- e:item -->
                    <a href="#" elem="item">Апр</a><!-- e:item -->
                    <a href="#" elem="item">Май</a><!-- e:item -->
                    <a href="#" elem="item">Июн</a><!-- e:item -->
                    <a href="#" elem="item">Июл</a><!-- e:item -->
                    <a href="#" elem="item">Авг</a><!-- e:item -->
                    <a href="#" elem="item">Сен</a><!-- e:item -->
                    <a href="#" elem="item">Окт</a><!-- e:item -->
                    <a href="#" elem="item">Ноя</a><!-- e:item -->
                    <a href="#" elem="item">Дек</a><!-- e:item -->
                </div><!-- e:list -->
                <a href="#" elem="arrow" class="_js-calendar-arrow">
                    <img src="img/arrow-right.png" alt="">
                </a><!-- e:arrow -->
            </div><!-- e:items -->
        </div><!-- e:col -->
        <div elem="col" mods="weeks">
            <div elem="items">
                <a href="#" elem="all">Все</a><!-- e:all -->
                <div elem="list">
                    <a href="#" elem="item">
                        <span elem="num">1</span><!-- e:num -->
                        <span elem="day">пт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">2</span><!-- e:num -->
                        <span elem="day">сб</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">3</span><!-- e:num -->
                        <span elem="day">вс</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">4</span><!-- e:num -->
                        <span elem="day">пн</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">5</span><!-- e:num -->
                        <span elem="day">вт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">6</span><!-- e:num -->
                        <span elem="day">ср</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">7</span><!-- e:num -->
                        <span elem="day">чт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-active">
                        <span elem="num">8</span><!-- e:num -->
                        <span elem="day">пт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">9</span><!-- e:num -->
                        <span elem="day">сб</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">10</span><!-- e:num -->
                        <span elem="day">вс</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">11</span><!-- e:num -->
                        <span elem="day">пн</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">12</span><!-- e:num -->
                        <span elem="day">вт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">13</span><!-- e:num -->
                        <span elem="day">ср</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">14</span><!-- e:num -->
                        <span elem="day">чт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">15</span><!-- e:num -->
                        <span elem="day">пт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">16</span><!-- e:num -->
                        <span elem="day">сб</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">17</span><!-- e:num -->
                        <span elem="day">вс</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">18</span><!-- e:num -->
                        <span elem="day">пн</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">19</span><!-- e:num -->
                        <span elem="day">вт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">20</span><!-- e:num -->
                        <span elem="day">ср</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">21</span><!-- e:num -->
                        <span elem="day">чт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">22</span><!-- e:num -->
                        <span elem="day">пт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">23</span><!-- e:num -->
                        <span elem="day">сб</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">24</span><!-- e:num -->
                        <span elem="day">вс</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">25</span><!-- e:num -->
                        <span elem="day">пн</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">26</span><!-- e:num -->
                        <span elem="day">вт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">27</span><!-- e:num -->
                        <span elem="day">ср</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">28</span><!-- e:num -->
                        <span elem="day">чт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item" class="is-disabled">
                        <span elem="num">29</span><!-- e:num -->
                        <span elem="day">пт</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">30</span><!-- e:num -->
                        <span elem="day">сб</span><!-- e:day -->
                    </a><!-- e:item -->
                    <a href="#" elem="item">
                        <span elem="num">31</span><!-- e:num -->
                        <span elem="day">вс</span><!-- e:day -->
                    </a><!-- e:item -->
                </div><!-- e:list -->
                <a href="#" elem="arrow" class="_js-calendar-arrow">
                    <img src="img/arrow-right.png" alt="">
                </a><!-- e:arrow -->
            </div><!-- e:items -->
        </div><!-- e:col -->
    </div><!-- e:items -->
</div><!-- b:event-calendar -->


<div block="list-blocks" mods="calendar">
    <div elem="item">
        <div elem="date">
            <img src="img/callendar-icon.png" alt="">
            <div elem="day">8 Марта 2019</div><!-- e:date-day -->
            <div elem="week-day">Пятница</div><!-- e:date-day -->
        </div><!-- e:data -->

        <div elem="item-image" data-section-bg="img/l-pic1.png">
            <img src="img/l-pic1.png" alt="">
            <div elem="item-icons" mods="stats">
                <div elem="views"><img src="img/views.png" alt="">275</div> 
                <div elem="counter"><img src="img/square.png" alt="">12</div>   
            </div>
        </div>
        <div elem="item-container">
            <div elem="item-top">
                <div elem="bot-item" mods="time"><img src="img/time.png" alt="">13:30, 15:00, 16:30, 18:00, 19:30</div>

                <div elem="item-labels-container">
                    <div elem="item-label" mods="category">Концерт</div>        
                    <div elem="item-label" mods="genre">Классическая музыка</div>       
                    <div elem="item-label" mods="counter">0+</div>
                </div>
            </div><!-- e:item-top -->

            <div elem="item-title">Концерт-открытие Международного конкурса "Дон Гран-при"</div>
            <div elem="item-description">С появлением Яна Сибелиуса музыка Финляндии обрела голос, слышный во всем мире.</div>
            <div elem="item-buttons-container">
                <a elem="item-button" mods="link" href="#">Подробнее</a>
                <a elem="item-button" mods="buy" href="#">Выбрать места</a>
            </div>
        </div>
    </div>
</div>