.event-calendar
    margin 60px 0 20px 0
    
    @media only screen and (max-width: 730px)
        margin-top 40px
        margin-bottom 0

    &__cols
        display flex
        flex-wrap wrap
        margin-left -30px
        
        @media only screen and (max-width: 730px)
            margin-left -15px
        
    &__col 
        padding-left 30px
        padding-bottom 20px
        
        @media only screen and (max-width: 730px)
            padding-left 15px
        
        &--years
            flex 0 0 300px
            max-width 300px
            width 300px
            
            @media only screen and (max-width: 730px)
                flex 0 0 117px
                max-width 117px
                width 117px
                
            .event-calendar__list
                @media only screen and (max-width: 730px)
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
            
            .event-calendar__items 
                padding-left 20px
                padding-right 20px

                @media only screen and (max-width: 730px)
                    padding-left 0
                    padding-right 10px
                    overflow-x auto
                    -webkit-overflow-scrolling: touch
                
            .event-calendar__item
                @media only screen and (max-width: 730px)
                    flex 0 0 100%
                    max-width 100%
                    width 100%
                    justify-content flex-start
                    padding-left 15px
                    
            .event-calendar__arrow
                @media only screen and (max-width: 730px)
                    display flex
                    background-color #fff
            
        &--months
            flex 1
            
            .event-calendar__items 
                padding-left 20px
                padding-right 20px

                @media only screen and (max-width: 1024px)
                    padding-left 20px
                    padding-right 10px
                    
                @media only screen and (max-width: 730px)
                    padding-left 10px
                    
            .event-calendar__list
                @media only screen and (max-width: 1024px)
                    overflow-x auto
                    -webkit-overflow-scrolling: touch
                
            .event-calendar__item
                @media only screen and (max-width: 1024px)
                    flex 0 0 69px
                    max-width 69px
                    width 69px
                    
                @media only screen and (max-width: 730px)
                    flex 0 0 44px
                    max-width 44px
                    width 44px
                    
            .event-calendar__arrow
                margin-left 13px

                @media only screen and (max-width: 1024px)
                    display flex

        &--weeks
            flex 0 0 100%
            max-width 100%
            width 100%
            
            @media only screen and (max-width: 730px)
                padding-bottom 14px
            
            .event-calendar__items 
                position relative
                overflow hidden
                height 60px
                
                @media only screen and (max-width: 1024px)
                    padding-right 10px
                
                &:before
                    content ''
                    position absolute
                    left 0
                    top 0
                    right 0
                    height 36px
                    pointer-events none
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
                    
            .event-calendar__list
                @media only screen and (max-width: 1024px)
                    overflow-x auto
                    -webkit-overflow-scrolling: touch
            
            .event-calendar__item
                flex-direction column
                height 60px
                
                @media only screen and (max-width: 1024px)
                    flex 0 0 37px
                    max-width 37px
                    width 37px
                
            .event-calendar__arrow    
                @media only screen and (max-width: 1024px)
                    display flex
                    margin-left 13px
                    height 36px
                    width 22px

    &__items
        display flex
        height 44px
        box-shadow 0 2px 5px rgba(0, 0, 0, 0.05)
        border-radius 6px
        background-color #fff
        
    &__list
        flex 1
        display flex 
        
    &__item 
        flex 1
        position relative
        display flex
        align-items center
        justify-content center
        color #666
        font-size 16px
        font-weight 400
        line-height 21px
        text-decoration none

        &:hover,
        &.is-active
            color $colorPrimary
            text-decoration none
            font-weight 500
            

        &.is-disabled 
            pointer-events none
            color rgba(#666, .3) !important

    &__all 
        aling-self flex-start
        height 36px
        display flex
        justify-content center
        align-items center
        flex 0 0 40px
        max-width 40px
        width 40px
        text-align center
        color #666
        font-size 12px
        text-decoration none
        font-weight 400
        line-height 21px
        text-transform uppercase
        
        &:hover
            color $colorPrimary
            text-decoration none
            font-weight 500

    &__arrow
        width 22px
        height 100%
        display none
        align-items center
        justify-content center
            
    &__num
        height 36px
        display flex
        justify-content center
        align-items center
        width 100%
        border-left 2px solid #fbfbfb
        
    &__day 
        font-size 11px
        font-weight 400
        height 24px
        display flex
        justify-content center
        align-items center
        width 100%
        text-transform lowercase
        padding-left 2px
